@use '@angular/material' as mat;
@use 'globals/variables' as var;

button {
  margin: var.$bq-base-margin var.$bq-base-margin var.$bq-base-margin 0;
  text-transform: uppercase;
}

.Tertiary { /* stylelint-disable-line selector-class-pattern */
  background-color: transparent;
  color: mat.m2-get-color-from-palette(var.$bq-tertiary-palette);

  &.mat-mdc-raised-button {
    background-color: mat.m2-get-color-from-palette(var.$bq-tertiary-palette);
    color: mat.m2-get-color-from-palette(var.$bq-tertiary-palette, default-contrast);
  }
}

::ng-deep {
  /* Default buttons in cards or elevated widgets get a slightly darker background compared to default
    buttons in transparent containers. */
  .card,
  .flow-widget.elevate {
    .default-styling {
      background: var.$bq-card-button-background;
    }
  }
}
