@import 'globals/variables';

button {
  margin: $bq-base-margin $bq-base-margin $bq-base-margin 0;
  text-transform: uppercase;
}

.Tertiary { // sass-lint:disable-line class-name-format
  background-color: transparent;
  color: mat-color($bq-tertiary-palette);

  .mat-button-focus-overlay {
    background-color: pink;
    font-size: 123px;
  }

  &.mat-raised-button {
    background-color: mat-color($bq-tertiary-palette);
    color: mat-color($bq-tertiary-palette, default-contrast);
  }
}

::ng-deep {
  .Tertiary .mat-button-focus-overlay { // sass-lint:disable-line class-name-format
    background-color: mat-color($bq-tertiary-palette, 0.12);
  }

  /**
    Default buttons in cards or elevated widgets get a slightly darker background compared to default
    buttons in transparent containers.
   */
  .card, .flow-widget.elevate {
    button.default-styling {
      background: $bq-card-button-background;
    }
  }
}

