@import '../../../theme/globals/variables';

button {
  margin: $bq-base-margin $bq-base-margin $bq-base-margin 0;
  background: $bq-default-button-background;
  text-transform: uppercase;
}

.tertiary {
  background-color: mat-color($bq-tertiary-palette);
  color: mat-color($bq-tertiary-palette, default-contrast);
}
