<div bqClasses bqKey class="selection-control slide-toggle">
  <div>
    <mat-slide-toggle [formControl]="formControl" [required]="field.required" color="primary">
      <ng-container *ngIf="!list">{{field.questionText}}</ng-container>
    </mat-slide-toggle>
  </div>
  <ng-container *ngIf="!list">
    <mat-hint *ngIf="!getMessages().hasMessages">{{field.explainText}}</mat-hint>
    <div *ngIf="getMessages().hasMessages">
      <mat-error *ngFor="let msg of getMessages()">{{ msg.text }}</mat-error>
    </div>
  </ng-container>
</div>
