<div bqClasses bqKey class="selection-control slide-toggle">
  <div>
    <mat-slide-toggle [formControl]="formControl" [required]="field.required" color="primary">
      @if (!list) {
        {{field.questionText}}
      }
    </mat-slide-toggle>
  </div>
  @if (!list) {
    @if (!getMessages().hasMessages) {
      <mat-hint>{{field.explainText}}</mat-hint>
    }
    @if (getMessages().hasMessages) {
      <div>
        @for (msg of getMessages(); track msg) {
          <mat-error>{{ msg.text }}</mat-error>
        }
      </div>
    }
  }
</div>
