@use '@angular/material' as mat;
@import 'globals/variables';

mat-panel-title {
  font-size: $h4-size;
  color: mat.get-color-from-palette($bq-mat-primary-blue, 700);
}

mat-accordion {
  margin-top: $bq-base-margin;
  display: inline-block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

mat-expansion-panel.mat-expanded {
  mat-panel-title {
    display: none;
  }
}
