@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

mat-panel-title {
  font-size: var.$h4-size;
  color: mat.m2-get-color-from-palette(palette.$bq-mat-primary-blue, 700);
}

mat-accordion {
  margin-top: var.$bq-base-margin;
  display: inline-block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

mat-expansion-panel.mat-expanded {
  mat-panel-title {
    display: none;
  }
}
