@import 'globals/variables';

.mat-mdc-form-field {
  margin-bottom: $bq-base-margin;
}

// disable prefix icon & suffix when input is disabled
.mat-form-field-disabled {
  mat-icon,
  [matsuffix] {
    opacity: 0.35;
  }
}

.mat-mdc-form-field-has-icon-suffix {
  span {
    padding-right: $bq-base-margin;
  }
}
