<mat-form-field appearance="fill" bqClasses bqKey class="fx-flex">
  @if (fieldPrefix) {
    <span matPrefix>{{fieldPrefix}}</span>
  }
  @if (iconPrefix) {
    <mat-icon matPrefix>{{iconPrefix}}</mat-icon>
  }
  <mat-label>{{field.questionText}}</mat-label>
  <input [formControl]="formControl" [placeholder]="placeholder" [required]="field.required" matInput type="{{inputType}}">
  @if (fieldSuffix) {
    <span matSuffix>{{fieldSuffix}}</span>
  }
  <mat-hint>{{field.explainText}}</mat-hint>
  @for (msg of getFieldMessages(); track msg) {
    <mat-error>{{msg.text}}</mat-error>
  }
</mat-form-field>
