@use 'globals/variables' as var;

.mat-mdc-form-field {
  margin-bottom: var.$bq-base-margin;
}

/* disable prefix icon & suffix when input is disabled */
.mat-form-field-disabled {
  mat-icon,
  [matsuffix] {
    opacity: 0.35;
  }
}

.mat-mdc-form-field-has-icon-suffix {
  span {
    padding-right: var.$bq-base-margin;
  }
}
