@import '../../../theme/globals/variables';
@import '~@angular/material/theming';

.error-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-drawer + 200;

  .severity-error {
    background-color: $bq-secondary-red;
  }

  .severity-notice {
    background-color: $bq-primary-blue;
  }

  .severity-error,
  .severity-notice {
    @include mat-elevation(2);

    width: 350px;
    padding: $bq-base-margin;
    color: $white-87-opacity;
    text-align: center;

    img {
      margin-top: 3 * $bq-base-margin;
    }

    .title {
      margin-bottom: $bq-base-margin;
      font-size: 48px;
      font-weight: normal;
    }

    .message {
      width: 250px;
      font-size: 16px;
      word-break: break-all;
    }

    .details {
      width: 250px;
      padding: $bq-base-margin;
      background-color: $bq-white-37-opacity;
    }

    .button {
      width: 100%;

      button {
        text-transform: uppercase;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $bq-grey-medium;
  opacity: .5;
  z-index: $z-index-drawer + 100;
}
