@import '../../../../theme/globals/variables';

/**
 * This style uses double flex layout due to vertical alignment of icon and content
 */

.text-item {
  padding: 15px 15px 0;
  display: flex;

  .gutter {
    padding: 4px 6px;
    margin-right: 15px;
    font-size: 22px;
    display: flex;
  }

  .text {
    display: flex;
  }

  .aligner {
    align-self: center;
  }

  &.warning,
  &.Warning {
    .gutter {
      color: $bq-mat-fg-warning;
      background-color: $bq-mat-bg-warning;
    }
  }

  &.danger,
  &.Danger {
    .gutter {
      color: $bq-mat-fg-danger;
      background-color: $bq-mat-bg-danger;
    }
  }

  &.info,
  &.Info {
    .gutter {
      color: $bq-mat-fg-info;
      background-color: $bq-mat-bg-info;
    }
  }

  &.success,
  &.Success {
    .gutter {
      color: $bq-mat-fg-success;
      background-color: $bq-mat-bg-success;
    }
  }
}
