@use '@angular/material' as mat;
@use 'globals/variables' as var;

::ng-deep {
  .mat-mdc-tab-body {
    margin: var.$bq-margin var.$bq-margin 0;
  }
}

mat-icon {
  color: mat.m2-get-color-from-palette(var.$bq-error-palette, 800);
}
