<div class="container">

  <div class="backdrop"></div>

  <div class="center">
    <div class="background" [class.failed]="failed">
      <div class="background-icons"></div>

      <mat-card appearance="outlined" class="mat-elevation-z8">

        <form [formGroup]="loginForm">

          <mat-card-header>
            <mat-card-title>
              <div class="img-logo"></div>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" name="username">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" name="password" autocomplete="off">
            </mat-form-field>
            <div>
              @if (failed) {
                <mat-error>Authentication failed</mat-error>
              }
            </div>
            <button mat-raised-button (click)="login()" color="primary" id="loginbutton">Login</button>
          </mat-card-content>

        </form>
      </mat-card>
    </div>
  </div>

  <div class="backdrop"></div>

</div>
