@use 'sass:map';
@use 'globals/variables' as var;
@use 'globals/images' as img;
@use 'globals/color-palettes' as palette;

@keyframes move {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: 120px;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  place-content: center;
}

.backdrop {
  flex: 2;
}

.center {
  width: 100%;
  flex: 6;

  .background {
    position: relative;
    height: 100%;
    transition: background 2s ease;
    background: map.get(palette.$bq-mat-primary-blue, 700);
    overflow: hidden;
    box-sizing: inherit;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    align-items: center;

    .background-icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../../..' + var.$url-img-icons) repeat 50% 50%;
      background-size: 100% auto;
      animation: move 8s ease-in-out infinite;
    }
  }

  .img-logo {
    @include img.image('../../..' + var.$url-img-logo, 110px, 50px);
  }

  .failed {
    background: map.get(palette.$bq-mat-primary-purple, 700);
  }
}

mat-card-header {
  place-content: stretch center;
  align-items: stretch;
  width: 400px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card {
  margin: 50px 0;
}

mat-error {
  display: block;
  margin-bottom: var.$bq-base-margin;
  font-size: 75%;
}

button {
  margin-top: var.$bq-margin-double;
}
