<div fxFill fxLayout="column" fxLayoutAlign="center center">

  <div fxFlex="20"></div>

  <div fxFlex="60" class="center">
    <div fxLayoutAlign="center center" class="background" [class.failed]="failed">
      <div class="background-icons"></div>

      <mat-card class="mat-elevation-z8">

        <form [formGroup]="loginForm">

          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>
              <div class="img-logo"></div>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <mat-form-field fxFill appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" name="username">
            </mat-form-field>
            <mat-form-field fxFill appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" name="password" autocomplete="off">
            </mat-form-field>
            <div>
              <mat-error *ngIf="failed">Authentication failed</mat-error>
            </div>
            <button mat-raised-button fxFill (click)="login()" color="primary" id="loginbutton">Login</button>
          </mat-card-content>

        </form>
      </mat-card>
    </div>
  </div>

  <div fxFlex>
  </div>

</div>
