@use 'globals/variables' as var;

.mat-mdc-form-field {
  margin-bottom: var.$bq-base-margin;

  button {
    &[matprefix] {
      padding-left: var.$bq-base-margin;
      border: 0;
      background-color: transparent;
    }
  }
}
