@use '@angular/material' as mat;
@use '@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';
@use './globals/variables' as var;
@use '../globals/color-palettes' as palette;

/* override specific styling to match it with the global theme */
$datepicker-bq-color: rgba(mat.m2-get-color-from-palette(var.$bq-primary-palette), 0.2);

.owl-dialog-container,
.owl-dt-timer,
.owl-dt-timer-input,
.owl-dt-container-buttons,
.owl-dt-control-button,
.owl-dt-container-control-button {
  font-family: var.$bq-font-family;
}

.owl-dt-calendar-table {
  .owl-dt-calendar-cell-selected {
    background-color: mat.m2-get-color-from-palette(var.$bq-primary-palette);
  }

  .owl-dt-calendar-cell-in-range {
    background: $datepicker-bq-color;
  }
}

.owl-dt-container-buttons {
  height: 3em; /* more spacing for the buttons */
  color: mat.m2-get-color-from-palette(var.$bq-primary-palette);

  .owl-dt-control-button-content {
    font-weight: 400;
    text-transform: uppercase; /* material style button */
  }
}

.owl-dt-timer-hour12 {
  color: mat.m2-get-color-from-palette(var.$bq-primary-palette);

  .owl-dt-timer-hour12-box {
    &:focus,
    &:hover {
      .owl-dt-control-button-content {
        background: mat.m2-get-color-from-palette(var.$bq-primary-palette);
        color: palette.$light-primary-text;
      }
    }
  }
}

.owl-dt-timer-content {
  .owl-dt-timer-input {
    border: 1px solid palette.$dark-dividers; /* more subtle border */

    &:active,
    &:focus {
      border-bottom-color: mat.m2-get-color-from-palette(var.$bq-primary-palette);
    }
  }
}

.owl-dt-container-info {
  .owl-dt-container-info-active {
    color: mat.m2-get-color-from-palette(var.$bq-primary-palette);
  }
}
