@use '@angular/material' as mat;
@use '../globals/variables' as var;
@use '../globals/color-palettes' as palette;

.mat-mdc-snack-bar-container {
  &.snackbar-error {
    background-color: mat.m2-get-color-from-palette(var.$bq-error-palette);
  }

  &.snackbar-warning {
    background-color: mat.m2-get-color-from-palette(var.$bq-warn-palette);
  }

  button {
    background: mat.m2-get-color-from-palette(var.$bq-error-palette, 400);
    color: palette.$light-primary-text;
  }
}
