<div class="field">
  <div class="question-text">
    {{field.questionText}}
  </div>
  <div class="field-input">
    <mat-radio-group [disabled]="isDisabled()" [value]="field.getValue()" *ngIf="!isReadonly()">
      <div [class]="determineDirection()">
        <mat-radio-button *ngFor="let option of field.domain.options" [value]="option.value">
          {{option.displayValue}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
    <span *ngIf="isReadonly()">{{field.getValue()}}</span>
  </div>
</div>
