# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc
cypress/videos
cypress/screenshots
cypress/snapshots/**/*.diff.png

# dependencies
/node_modules

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/testresults
/libpeerconnection.log
debug.log
npm-debug.log
yarn-error.log
testem.log
/typings
release.properties
eslint_results_checkstyle.xml
3rd-party-licenses.txt
.npmrc

# System Files
.DS_Store
Thumbs.db
target/

# Sensitive files
license.aql

/tools/**/
/tools/7z.*
