registry=https://artifactory.blueriq.com/artifactory/api/npm/yarn/
always-auth=true
_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiI5ZmFhYkxqdmlHTzB4dVB5WWZkNHNxOFc2b3QzZlVNNVVCUjc0ZllBQklJIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBmZTgwZGU5Yy0xNWEyLTRiYmYtOTQyMy0xYmUwYjI1MjcxNGZcL3VzZXJzXC9jaS1lZi1ucG0iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUBmZTgwZGU5Yy0xNWEyLTRiYmYtOTQyMy0xYmUwYjI1MjcxNGYiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUBmZTgwZGU5Yy0xNWEyLTRiYmYtOTQyMy0xYmUwYjI1MjcxNGZcL3VzZXJzXC9jaS1lZi1ucG0iLCJpYXQiOjE2MTA2MTM2NjcsImp0aSI6ImI2ZTBkMTI1LWZiZTUtNDRiYS1hYmYxLTY2YTE0MmNjZDVlNCJ9.m5_68a8YOMRRfYZkI52K7Q8XjnFhEHvBJ40GhWoTdCNTM3pN-Rh88gNwUx7ET8XIZpawk7qv-xb1Wwi6kC0OYzFCOwoXkp2SSXOfIRnCVG0twdpf8bBjuSLPHlrz5-YqyEzsV6jkBehreSG88GnuI5fk4RwZysYYF8iTXhF7ImJADhvtrjnPpcVQohfNhDC-WqiUGUxIo0rXfDga1YEBG-qnizn96N_1Z55BFya4BC858VpP3g7TRIFZ0RTjQrZLtKT-Ie0gY4a2dlIAlvztUZ8ZAszkLQyynRboSylDuiZL_B-iesMoUPC5xdn5gE8SquHVZQjX3RhcxE6ZvyRu9A
