@use '@angular/material' as mat;
@use 'sass:math' as math;
@use 'globals/variables' as var;

$shape-size: 1.2rem;
$shape-line: 2.8px;

.navigation {
  overflow: hidden;
  max-height: 64vh;
  overflow-y: auto;
  position: relative;
  margin: var.$bq-margin-double;
}

.line {
  position: absolute;
  inset: 1rem math.div(-$shape-line, 2);
  width: $shape-line;
  background: mat.m2-get-color-from-palette(var.$bq-primary-palette);
  margin-left: var.$bq-margin-triple;
}
