<div class="mat-paginator fx-flex-row">
  <div style="place-content: center; flex: 1 1 0;">
    <!-- Display feedback -->
    <div *ngIf="pagination.pagingFeedback">{{pagination.pagingFeedback.text}}</div>
  </div>
  <div class="fx-flex-row" style="align-items: center; flex: 0 1 auto;">

    <!-- Range -->
    <div class="mat-paginator-range-label">{{pagination.paginationText}}</div>

    <!-- Previous/Next -->
    <button class="mat-paginator-navigation-first mat-icon-button" mat-icon-button [disabled]="pagination.first.disabled" [bqButton]="pagination.first" matTooltip="First page">
      <mat-icon>first_page</mat-icon>
    </button>
    <button class="mat-paginator-navigation-previous mat-icon-button" mat-icon-button [disabled]="pagination.previous.disabled" [bqButton]="pagination.previous" matTooltip="Previous page">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button class="mat-paginator-navigation-next mat-icon-button" mat-icon-button [disabled]="pagination.next.disabled" [bqButton]="pagination.next" matTooltip="Next page">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button class="mat-paginator-navigation-last mat-icon-button" mat-icon-button [disabled]="pagination.last.disabled" [bqButton]="pagination.last" matTooltip="Last page">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>

