<div class="fx-flex-row fx-gap-1em">
  <div class="fx-flex0-0-14em">
    <mat-form-field appearance="fill">
      <mat-select placeholder="Column name" [value]="candidate.selectedColumn"
                  (selectionChange)="onColumnChanged($event.value)">
        <mat-option *ngFor="let column of currentColumns" [value]="column">{{column.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [ngSwitch]="getType()" class="fx-flex0-0-32em">
    <bq-domain-filter *ngSwitchCase="'domain'"
                           [candidate]="candidate"
                           [domain]="candidate.selectedColumn!.domain"></bq-domain-filter>

    <bq-boolean-filter *ngSwitchCase="'boolean'"
                            [candidate]="candidate"></bq-boolean-filter>

    <bq-numeric-filter *ngSwitchCase="'numeric'"
                            [candidate]="candidate"></bq-numeric-filter>

    <bq-date-filter *ngSwitchCase="'date'" type="date"
                         [candidate]="candidate"></bq-date-filter>

    <bq-date-filter *ngSwitchCase="'datetime'" type="datetime"
                         [candidate]="candidate"></bq-date-filter>

    <bq-text-filter *ngSwitchCase="'text'"
                           [candidate]="candidate"></bq-text-filter>

    <bq-empty-filter *ngSwitchDefault></bq-empty-filter>
  </div>

  <div class="fx-flex0-0-2em">
    <button mat-icon-button (click)="removed.emit()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
