@import 'globals/variables';

:host ::ng-deep {
  .mat-form-field {
    width: 100%;
  }

  // resize the default material fields to make the fields more compressed
  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-appearance-fill .mat-select-arrow-wrapper,
  .mat-form-field-appearance-standard .mat-select-arrow-wrapper {
    transform: none;
  }

  .mat-checkbox {
    margin-top: 12px;
  }

  .mat-form-field-prefix {
    font-size: $font-size-filter-row-icon;
  }
}
