@import 'globals/variables';

.header {
  margin-bottom: $bq-margin-half;

  .title {
    color: $dark-secondary-text;
    margin-left: $bq-margin-half;
  }
}

.mat-card-subtitle {
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 11px;
}

.comment {
  white-space: pre-line;
}

.space {
  margin: $bq-margin 0px $bq-margin 0px;
}
