@import 'globals/variables';

mat-list {
  max-height: $bq-max-height-scrollbar;
  overflow-y: auto;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: $bq-margin-half;
}

.header {
  flex: 1 1 0;
  box-sizing: border-box;

  .title {
    margin-left: $bq-margin-half;
    color: $dark-secondary-text;
  }
}

.push-right {
  margin-left: auto;
}

.mat-mdc-card-subtitle {
  align-items: center;
  justify-content: center;
  margin-right: $bq-margin-half;
}

.date {
  font-size: $font-size-comment-list-date;
}

.comment {
  white-space: pre-line;
}

.space {
  margin: $bq-margin 0;
}
