@use 'globals/variables' as var;
@use '@angular/material' as mat;
@use 'globals/color-palettes' as palette;

mat-list {
  max-height: var.$bq-max-height-scrollbar;
  overflow-y: auto;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: var.$bq-margin-half;
}

.header {
  flex: 1 1 0;
  box-sizing: border-box;

  .title {
    margin-left: var.$bq-margin-half;
    color: palette.$dark-secondary-text;
  }
}

.push-right {
  margin-left: auto;
}

.mat-mdc-card-subtitle {
  align-items: center;
  justify-content: center;
  margin-right: var.$bq-margin-half;
}

.date {
  font-size: var.$font-size-comment-list-date;
}

.comment {
  white-space: pre-line;
}

.space {
  margin: var.$bq-margin 0;
}
