/* Suppress the border on the bottom of the field & background color */
:host {
  ::ng-deep {
    .mdc-text-field {
      background-color: transparent;
    }

    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }

    .mdc-line-ripple {
      display: none;
    }
  }

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
