/* Suppress the border on the bottom of the field & background color */
:host {
  ::ng-deep {
    /* stylelint-disable-next-line selector-class-pattern */
    .mdc-text-field--filled:not(.mdc-text-field--disabled),
    .mdc-text-field,
    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }

    .mdc-line-ripple {
      display: none;
    }
  }

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
