@import 'globals/variables';
@import '~@angular/material/theming';

// Suppress the border on the bottom of the field
:host {
  ::ng-deep {
    .mat-form-field-underline {
      display: none;
    }
  }
}

.mat-form-field {
  padding: 0 12px;
  font-size: $font-size;
  line-height: $line-height;
}
