@use '@angular/material' as mat;
@use 'material-icons/iconfont/material-icons.css';
@use 'font-awesome/css/font-awesome.css';
@use 'roboto-fontface/css/roboto/roboto-fontface.css';
@use 'ngx-toastr/toastr';
@use 'globals/index';
@use 'components/index' as components;
@use 'globals/variables' as var;

@include mat.all-component-typographies(var.$bq-mat-typography);
@include mat.elevation-classes;
@include mat.app-background;

@include mat.all-component-themes(var.$bq-theme);
