@use 'sass:math';
@use 'sass:map';
@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

$shape-size: 14px;
$shape-top: 20px;
$background: map.get(mat.$m2-gray-palette, 200);
$background-card: map.get(mat.$m2-light-theme-background-palette, card);

.timeline {
  max-height: var.$bq-max-height-scrollbar;
  background: $background;
  overflow-y: auto;
}

/* ---- left side of the timeline --- */
.line {
  position: relative;
  border-right: 1px solid map.get(palette.$bq-mat-grey-light, 500);
  flex: 20;

  .content {
    margin: ($shape-top + 6) var.$bq-margin 0 0;
    color: palette.$dark-secondary-text;
    font-size: var.$font-size-timeline-content;
    text-align: right;
  }

  .shape-position {
    display: inline-block;
    position: absolute;
    top: $shape-top;
    right: math.div(-$shape-size, 2);
    padding: math.div($shape-size, 2) 0;
    background: $background;

    .dot {
      width: $shape-size;
      height: $shape-size;
      border-radius: 50%;
      background: map.get(palette.$bq-mat-accent-mint, 500);
    }
  }
}

/* ---- Right side of the timeline --- */
.time-card {
  flex: 80;

  $card-left-margin: var.$bq-margin;

  position: relative;

  .content {
    @include mat.elevation(1);

    margin: $card-left-margin var.$bq-margin-double;
    padding: var.$bq-margin;
    background: $background-card;
    font-size: var.$default-font-size;

    .time {
      flex: 0 1 auto;
      color: palette.$dark-secondary-text;
    }

    .user {
      flex: 1 1 0;
      color: map.get(palette.$bq-mat-accent-mint, 500);
      font-weight: 500;
    }

    .action-name {
      font-weight: 500;
    }

    .entry-name {
      color: palette.$dark-secondary-text;
    }
  }

  .shape-position {
    display: inline-block;
    position: absolute;
    top: $shape-top;
    left: $card-left-margin; /* Same as card-content left margin */
    background: transparent;

    .triangle {
      width: 0;
      height: 0;
      border-top: $shape-size solid transparent;
      border-right: $shape-size solid $background-card;
      border-bottom: $shape-size solid transparent;
      background: transparent;
    }
  }
}

mat-divider {
  margin: var.$bq-margin 0;
}

.dotted-border {
  position: absolute;
  right: -1px;
  height: $shape-top;
  border-right: 1px dashed $background;
}
