<div class="header">
  @if (!dashboardHeader) {
    <bq-header [page]="page"></bq-header>
  }
  @if (dashboardHeader) {
    <ng-container [bqElement]="dashboardHeader"></ng-container>
  }
  @for (dashboardMenu of dashboardMenus; track dashboardMenu) {
    <ng-container [bqElement]="dashboardMenu"></ng-container>
  }
</div>

<div [ngClass]="['page', pageSize]" class="fx-flex-row">
  @if (navigationMenu) {
    <div style="flex: 1 1 100%; max-width: 25%">
      <div class="sticky-menu">
        <ng-container [bqElement]="navigationMenu"></ng-container>
      </div>
    </div>
  }
  <div class="fx-flex">
    @for (child of page.children | bqIncluded; track child) {
      <ng-container [bqElement]="child"></ng-container>
    }
  </div>
</div>

<bq-footer></bq-footer>
