@use '@angular/material' as mat;
@import '@angular/material/theming';
@import 'globals/variables';

.header {
  @include mat.elevation(1);

  position: sticky;
  top: 0;
  width: 100%;
  z-index: $z-index-drawer + 10;
}

.sticky-menu {
  position: sticky;
  top: $bq-toolbar-height;
}
