@use '@angular/material' as mat;
@use 'globals/variables' as var;

.header {
  @include mat.elevation(1);

  position: sticky;
  top: 0;
  width: 100%;
  z-index: var.$z-index-drawer + 10;
}

.sticky-menu {
  position: sticky;
  top: var.$bq-toolbar-height;
}
