@import 'globals/variables';

.mat-form-field {
  font-size: $default-font-size;

  .mat-chip {
    margin: 1px;
    padding: 2px 7px;
  }
}

:host ::ng-deep {
  .mat-form-field-appearance-standard {

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      padding-top: 0;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    .mat-form-field-underline {
      bottom: 0;
    }
  }
}
