@use 'globals/variables' as var;

.mat-mdc-form-field {
  font-size: var.$default-font-size;

  .mat-mdc-chip {
    margin: 1px;
    padding: 2px 7px;
  }
}

:host ::ng-deep {
  .mdc-text-field {
    background-color: transparent;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }
}

.search {
  display: flex;
  place-content: center flex-end;
  flex-direction: row;
  box-sizing: border-box;
}
