<div bqKey bqClasses [bqContainer]="container">
  <bq-heading [title]="container.displayName" [styles]="container.styles"></bq-heading>
  @if (shouldShowSearchBox() && list.search$ | async; as search) {
    <bq-table-search [search]="search"></bq-table-search>
  }
  @if (list.filter$ | async; as filter) {
    <bq-filter [filter]="filter"></bq-filter>
  }
  <bq-table [table]="list.table$ | async"></bq-table>
  @if (list.pagination$ | async; as pagination) {
    <bq-table-pagination [pagination]="pagination"></bq-table-pagination>
  }
  @if (list.limit$ | async; as limit) {
    <bq-table-limit [limit]="limit"></bq-table-limit>
  }
</div>
