@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

table {
  width: 100%;
}

:host ::ng-deep {
  .mat-mdc-row {
    &:hover {
      background-color: mat.m2-get-color-from-palette(palette.$bq-mat-grey-light, 50) !important;
    }
  }

  /* Header cell has base margins
  *  where the cells itself have the half margin padding and half margin margin.
  */
  .mat-mdc-header-cell {
    padding-left: var.$bq-base-margin;
  }

  .mat-mdc-cell {
    padding-left: var.$bq-margin-half;

    bq-asset,
    bq-table-readonly {
      display: inline-block;
      margin-left: var.$bq-margin-half;
    }

    input,
    mat-checkbox,
    mat-select {
      margin-left: var.$bq-margin-half;
      font-size: var.$default-font-size;
    }

    bq-container {
      width: 100%;
    }
  }

  /* remove wrapper on the bottom of a field */
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
