@import 'globals/variables';

:host ::ng-deep {

  .mat-row {
    &:hover {
      background-color: mat-color($bq-mat-grey-light, 50);
    }
  }

  .mat-form-field-appearance-fill,
  .mat-form-field-flex,
  .mat-form-field-infix {
    align-items: center;
    border-top: 0;
    background-color: mat-color($bq-mat-grey-light, A100);
  }

  .mat-form-field-wrapper {

    padding-bottom: 0;

    .mat-form-field-underline {
      display: none;
      bottom: 0;
    }

    &:hover {
      .mat-form-field-underline {
        display: block;
      }
    }
  }

}
