@if (!authenticationFailed) {
  <div bqKey bqClasses [ngClass]="'external-flow-container'" [bqContainer]="container">
    <bq-heading [title]="container.displayName" [styles]="container.styles"></bq-heading>
    @if (!shouldDisplayError()) {
      <bq-session [sessionName]="externalFlow.sessionName" (flowEnded)="handleFlowEnded()"
      (expired)="handleSessionExpired()" (error)="handleError($event)"></bq-session>
    }
    @if (shouldDisplayError()) {
      <div>
        <mat-error style="display: flex; place-content: stretch center; align-items: stretch;">
          <mat-icon>error</mat-icon>
          <span>{{errorMessage}}</span>
        </mat-error>
      </div>
    }
  </div>
}
