<div bqKey bqClasses [ngClass]="'external-flow-container'" [bqContainer]="container" *ngIf="!authenticationFailed">

  <bq-heading [title]="container.displayName" [styles]="container.styles"></bq-heading>

  <bq-session *ngIf="!shouldDisplayError()" [sessionName]="externalFlow.sessionName" (flowEnded)="handleFlowEnded()"
    (expired)="handleSessionExpired()" (error)="handleError($event)"></bq-session>

  <div *ngIf="shouldDisplayError()">
    <mat-error fxLayout="row" fxLayoutAlign="center">
      <mat-icon>error</mat-icon>
      <span>{{errorMessage}}</span>
    </mat-error>
  </div>

</div>