.flex-grid-thirds {
  display: flex;
  justify-content: space-between;

  .col1 {
    width: 95%;
  }

  .col2 {
    width: 5%;
  }
}

:host ::ng-deep {
  .mat-form-field {
    display: block;
  }
}

.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}
