<div>
  <div [fxFlex]>
    <ng-content></ng-content>
    <div class="labels" *ngIf="!hasPresentationStyleExplainIcon()">
      <mat-hint *ngIf="!hasMessages()">{{field.explainText}}</mat-hint>
      <div *ngIf="hasMessages()">
        <mat-error *ngFor="let msg of getMessages()">{{ msg.text }}</mat-error>
      </div>
    </div>
  </div>

  <div>
    <ng-container *ngIf="shouldDisplayExplainText()">
      <i class="material-icons" matTooltip="{{field.explainText}}">info</i>
    </ng-container>
  </div>
</div>
