<div class="flex-grid-thirds">

  <div class="col1">
    <ng-content>
    </ng-content>
    <ng-container *ngIf="hasMessages()">
      <mat-error *ngFor="let msg of getMessages()">
        <i class="material-icons">warning</i><span class="aligned-with-icon">{{ msg.text }}</span>
      </mat-error>
    </ng-container>
  </div>

  <div class="col2">
    <ng-container *ngIf="displayExplainText()">
      <i class="material-icons" matTooltip="{{field.explainText}}">info</i>
    </ng-container>
  </div>

</div>
