@import '~@angular/material/theming';
@import 'globals/variables';

.mat-toolbar {
  top: 0;

  min-height: $bq-toolbar-height;
  padding: 0 0 0 16px;

  // Specific colors alert, since this is a particular part of the Blueriq branding specific color variables are allowed
  // sass-lint:disable-all
  background: linear-gradient(
      to right,
      map_get($bq-mat-primary-blue, 500),
      map_get($bq-mat-primary-purple, 500),
      map_get($bq-mat-primary-violet, 500)
  );

  color: $light-primary-text;

  // sass-lint:disable-all
  h1 {
    margin: 0 0 0 24px;
    color: $light-primary-text;
    font-size: 20px;
    font-weight: 300;
    line-height: 44px;
  }

  .application-actions {
    text-align: right;

    .active-user-menu {;
      height: $bq-toolbar-height;
      text-align: left;

      .icon {
        height: $bq-toolbar-height;
      }

      .username {
        padding-top: 30px;
        line-height: $line-height;
      }
    }
  }
}
