@use 'sass:map';
@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/images' as img;
@use 'globals/color-palettes' as palette;

.dashboard-header {
  display: var.$header-display;
}

.mat-toolbar {
  top: 0;
  min-height: var.$bq-toolbar-height;
  padding: 0 0 0 16px;

  /* Specific colors alert, since this is a particular part of the Blueriq branding specific color variables are
  allowed */
  background: map.get(palette.$bq-mat-primary-blue, 500);
  color: palette.$light-primary-text;

  .img-logo-white {
    @include img.image('../../..' + var.$url-img-logo-white, 110px, 45px);
  }

  h1 {
    margin: 0 0 0 24px;
    color: palette.$light-primary-text;
    font-size: 20px;
    font-weight: 300;
    line-height: 44px;
  }

  .application-actions {
    text-align: right;

    .active-user-menu {
      height: var.$bq-toolbar-height;
      text-align: left;

      .icon {
        height: var.$bq-toolbar-height;
      }

      .username {
        padding-top: 30px;
        line-height: var.$default-line-height;
        color: palette.$light-primary-text;
      }
    }
  }
}

.top-bar {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  place-content: center flex-start;
  align-items: center;
}

.account-circle {
  color: palette.$light-primary-text;
  place-content: center;
  align-items: center;
  line-height: 0;
}
