<mat-toolbar bqKey class="dashboard-header">
  <div style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
    <div class="fx-flex fx-flex-row">
      <span class="img-logo-white"></span>
      <h1 class="fx-flex">{{ displayName }}</h1>
    </div>

    <div class="fx-flex">
      <ng-container *ngIf="dashboardHeader">
        <ng-container *ngFor="let child of dashboardHeader.children | bqIncluded" [bqElement]="child"></ng-container>
      </ng-container>
    </div>

    <div style="flex: 0 0 auto" class="application-actions" *ngIf="authenticatedUser || logoutLink">

      <button type="button" mat-button [matMenuTriggerFor]="userMenu" aria-label="Open user menu" class="active-user-menu">
        <div style="gap: 12px" class="fx-flex-row icon">
          <div class="account-circle">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div class="username" *ngIf="authenticatedUser">
            <span>{{ authenticatedUser.plainText }}</span>
          </div>
        </div>
      </button>

      <mat-menu [overlapTrigger]="false" #userMenu="matMenu">
        <button mat-menu-item (click)="logout()" *ngIf="logoutLink">
          {{ logoutLink.plainText }}
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
