@import 'globals/variables';

.logo {
  margin-bottom: $bq-base-margin;
}

.center {
  width: 100%;

  .background {
    background: map-get($bq-mat-primary-blue, 400);
    transition: 2s ease;
  }

  .failed {
    background: map-get($bq-mat-primary-purple, 400);
  }
}

mat-card {
  margin: 50px 0;
}

mat-error {
  display: block;
  margin-bottom: $bq-base-margin;
  font-size: 75%;
}

button {
  margin-top: $bq-margin-double;
}
