@import 'globals/variables';

@keyframes move {
  0%, 100% {
    top: 0;
  }

  50% {
    top: 120px;
  }
}

.logo {
  margin-bottom: $bq-base-margin;
}

.center {
  width: 100%;

  .background {
    position: relative;
    height: 100%;
    transition: background 2s ease;
    background: map-get($bq-mat-primary-blue, 700);
    overflow: hidden;
    box-sizing: inherit;

    .background-icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/theme/images/blueriq-icons.png') repeat 50% 50%;
      background-size: 100% auto;
      animation: move 8s ease-in-out infinite;
    }

  }

  .failed {
    background: map-get($bq-mat-primary-purple, 700);
  }
}

mat-card {
  margin: 50px 0;
}

mat-error {
  display: block;
  margin-bottom: $bq-base-margin;
  font-size: 75%;
}

button {
  margin-top: $bq-margin-double;
}
