@import 'globals/variables';

.transform {
  transition: 2s ease;
}

.background {
  height: 400px;
  background: map-get($bq-mat-primary-blue, 400);
}

.background-failed {
  height: 400px;
  background: map-get($bq-mat-primary-purple, 400);
}

mat-error {
  display: block;
  margin-top: 4px;
  font-size: 75%;
}

