<div class="backdrop"></div>

<div class="error-container" fxFlex fxLayoutAlign="center center">
  <div [class]="'severity-' + error.severity">

    <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">

      <img src="./theme/blueriq/images/oops-icon.svg" height="175" *ngIf="error.severity == 'error'">
      <img src="./theme/blueriq/images/session-expired.svg" height="175" *ngIf="error.severity == 'notice'">

      <p class="title">{{ error.title }}</p>
      <p class="message">{{ error.message }}</p>
      <p class="details" *ngIf="error.details">{{ error.details }}</p>

      <p class="button" *ngIf="error.dismiss" fxLayout="column" fxLayoutAlign="start center">
        <button mat-button (click)="error.dismiss.action()">{{ error.dismiss.label }}</button>
      </p>
    </div>

  </div>
</div>
