@use 'globals/variables' as var;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var.$bq-header-color;
  font-weight: 400;
}

h1 {
  font-size: var.$h1-size;

  &.widget {
    font-size: var.$h1-widget-size;
  }
}

h2 {
  font-size: var.$h2-size;

  &.widget {
    font-size: var.$h2-widget-size;
  }
}

h3 {
  font-size: var.$h3-size;

  &.widget {
    font-size: var.$h3-widget-size;
  }
}

h4 {
  font-size: var.$h4-size;

  &.widget {
    font-size: var.$h4-widget-size;
  }
}

h5 {
  font-size: var.$h5-size;

  &.widget {
    font-size: var.$h5-widget-size;
  }
}

h6 {
  font-size: var.$h6-size;

  &.widget {
    font-size: var.$h6-widget-size;
  }
}
