@use 'globals/variables' as var;

.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: var.$z-index-drawer + 10;

  .loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: {
      position: center center;
      image: url('../../..' + var.$url-img-spinner);
      repeat: no-repeat;
    }
  }
}
