@import 'globals/variables';

.mat-icon {
  margin-right: $bq-margin-half;
  vertical-align: middle;
}

h2 {
  // TODO can be removed when 'BQ-5363' is merged
  margin-top: 0;
  color: $bg-header-color;
  font-weight: 400;
}
