<div fxLayout="row" fxLayoutGap="1em">
  <div fxFlex="0 0 14em">
    <mat-form-field appearance="fill">
      <mat-select placeholder="Column name" [value]="candidate.selectedColumn"
                  (selectionChange)="onColumnChanged($event.value)">
        <mat-option *ngFor="let column of currentColumns" [value]="column">{{column.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [ngSwitch]="getType()" fxFlex="0 0 32em">
    <bq-list-domain-filter *ngSwitchCase="'domain'"
                           [candidate]="candidate"
                           [domain]="candidate.selectedColumn!.domain"></bq-list-domain-filter>

    <bq-list-boolean-filter *ngSwitchCase="'boolean'"
                            [candidate]="candidate"></bq-list-boolean-filter>

    <bq-list-numeric-filter *ngSwitchCase="'numeric'"
                            [candidate]="candidate"></bq-list-numeric-filter>

    <bq-list-date-filter *ngSwitchCase="'date'" type="date"
                         [candidate]="candidate"></bq-list-date-filter>

    <bq-list-date-filter *ngSwitchCase="'datetime'" type="datetime"
                         [candidate]="candidate"></bq-list-date-filter>

    <bq-list-string-filter *ngSwitchCase="'string'"
                           [candidate]="candidate"></bq-list-string-filter>

    <bq-list-empty-filter *ngSwitchDefault></bq-list-empty-filter>
  </div>

  <div fxFlex="0 0 2em" fxLayoutAlign="end">
    <button mat-icon-button (click)="removed.emit()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
