@import '~@angular/material/theming';
@import './variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: map-get($mat-gray, 200);
  font-family: $bq-font-family;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: $bg-header-color;
  font-weight: 400;
}
