@import '~@angular/material/theming';
@import './color-palettes';

$bq-font-family: 'Roboto', Arial, 'Helvetica Neue', sans-serif;
$bq-base-margin: 12px;
$bq-toolbar-height: 77px;

$bq-primary-blue: mat-color($bq-mat-primary-blue, 500);
$bq-primary-purple: mat-color($bq-mat-primary-purple, 500);
$bq-primary-violet: mat-color($bq-mat-primary-violet, 500);

$bq-secondary-teal: mat-color($bq-mat-accent-teal, 500);
$bq-secondary-green: mat-color($bq-mat-accent-green, 500);
$bq-secondary-mint: mat-color($bq-mat-accent-mint, 500);
$bq-secondary-navy: mat-color($bq-mat-accent-navy, 500);
$bq-secondary-red: mat-color($bq-mat-accent-red, 500);
$bq-secondary-orange: mat-color($bq-mat-accent-orange, 500);
$bq-secondary-yellow: mat-color($bq-mat-accent-yellow, 500);

$bq-grey-dark: mat-color($bq-mat-grey-dark, 500);
$bq-grey-medium: mat-color($bq-mat-grey-medium, 500);
$bq-grey-light: mat-color($bq-mat-grey-light, 500);

// Material theme color definitions, change this to change color scheme's
$bq-mat-primary: $bq-mat-primary-blue;
$bq-mat-accent: $bq-mat-accent-green;

$bq-mat-bg-danger: mat-color($bq-mat-accent-red, 100);
$bq-mat-bg-info: mat-color($bq-mat-primary-blue, 100);
$bq-mat-bg-success: mat-color($bq-mat-accent-green, 100);
$bq-mat-bg-warning: mat-color($bq-mat-accent-orange, 100);

$bq-mat-fg-danger: mat-color($bq-mat-accent-red, 800);
$bq-mat-fg-info: mat-color($bq-mat-primary-blue, 800);
$bq-mat-fg-success: mat-color($bq-mat-accent-green, 800);
$bq-mat-fg-warning: mat-color($bq-mat-accent-orange, 800);

$bq-mat-primary-500: mat-color($bq-mat-primary, 500);
$bq-mat-accent-500: mat-color($bq-mat-accent, 500);

$bq-white-37-opacity: rgba(255, 255, 255, .37);
