@import '~@angular/material/theming';
@import './color-palettes';

// The mat-palette() function adds keys to the palette object for easy color retrieval using mat-color()
$bq-primary-palette: mat-palette($bq-mat-primary-blue);
$bq-accent-palette: mat-palette($bq-mat-primary-purple);
$bq-error-palette: mat-palette($bq-mat-accent-red);
$bq-theme: mat-light-theme($bq-primary-palette, $bq-accent-palette, $bq-error-palette);

//Specific none material colour palettes
$bq-tertiary-palette: mat-palette($bq-mat-accent-green);
$bq-warn-palette: mat-palette($bq-mat-accent-orange);
$bq-info-palette: mat-palette($bq-mat-primary-blue);
$bq-success-palette: mat-palette($bq-mat-accent-green);

// Margin system, for consistency all margins are derivatives from a single base margin
// Use the $bq-margin-* variables in all SCSS for padding, margin, etc to achieve a form of consistency
$bq-base-margin: 12px;
$bq-margin: $bq-base-margin;
$bq-margin-half: $bq-base-margin / 2;
$bq-margin-double: $bq-base-margin * 2;
$bq-margin-triple: $bq-base-margin * 3;

$bq-max-height-scrollbar: 700px;

// Specific colour variables which could not not have been achieved using the default material theme variables
$bq-default-button-background: #f5f5f5;
$bg-header-color: mat-color($bq-mat-accent-navy, 500);
$bq-white-37-opacity: rgba(255, 255, 255, .37);

// Other variables
$bq-font-family: 'Roboto', Arial, 'Helvetica Neue', sans-serif;
$bq-toolbar-height: 77px;

// Default sizes for headings
$h1-size: 2em;
$h2-size: 1.5em;
$h3-size: 1.17em;
$h4-size: 1.12em;
$h5-size: .83em;
$h6-size: .75em;

// In widgets, headings should be one level smaller
$h1-widget-size: $h2-size;
$h2-widget-size: $h3-size;
$h3-widget-size: $h4-size;
$h4-widget-size: $h5-size;
$h5-widget-size: $h6-size;
$h6-widget-size: .66em;
