<div class="header" fxLayout="row" fxLayoutAlign="start center" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
  
  <!-- Header name -->
  <ng-container [bqElement]="column.header"></ng-container>
  
  <!-- Sorting -->
  <button *ngIf="hovering || isSorting()" mat-icon-button [bqButton]="column.sort">
    <mat-icon aria-label="sort button">{{getIconByDirection()}}</mat-icon>
  </button>
  
  <!-- Filtering -->
  <button mat-icon-button fxLayoutAlign="center center" [disabled]="true">
    <mat-icon *ngIf="isColumnFiltered$ | async">filter_list</mat-icon>
  </button>

</div>
