<div class="header" fxLayout="row" fxLayoutAlign="start center">

  <!-- Header name -->
  <ng-container [bqElement]="column.header"></ng-container>

  <!-- Sorting -->
  <button *ngIf="column.ordering !== 'unavailable'" mat-icon-button
          [ngClass]="['sort-toggle', column.ordering]" [bqButton]="column.toggleOrdering">
    <mat-icon aria-label="sort button">{{getIconByDirection()}}</mat-icon>
  </button>

  <!-- Filtering -->
  <button *ngIf="column.filter" mat-icon-button fxLayoutAlign="center center" disabled>
    <mat-icon *ngIf="column.filter.isActive$ | async">filter_list</mat-icon>
  </button>

</div>
