@use '@angular/material' as mat;
@use 'globals/variables' as var;

:host {
  width: 100%;
  height: 100%;

  .sort-toggle {
    &.none {
      visibility: hidden;
    }
  }

  &:hover {
    .sort-toggle {
      &.none {
        visibility: visible;
      }
    }
  }
}

.mat-icon {
  font-size: var.$font-size-list-header-icon;
  font-weight: 800;
}
