
<mat-table [dataSource]="table.rows$" matSort >

  <ng-container *ngFor="let column of table.columns$ | async" [matColumnDef]="column.name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ng-container [bqElement]="column.header"></ng-container>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <ng-container [bqElement]="row.cellFor(column).element"></ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="table.columnNames$ | async"></mat-header-row>
  <mat-row *matRowDef="let row; columns: table.columnNames$ | async"></mat-row>

</mat-table>
