@import 'globals/variables';

:host ::ng-deep {
  .mat-form-field {
    display: block;
  }

  // TODO - This is a temporary solution, since errors and hints cannot be a part of the form field because of it's generic usage.
  .mat-form-field-wrapper {
    margin-bottom: -20px;
  }
}

.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

// TODO - This is a temporary solution, since errors and hints cannot be a part of the form field because of it's generic usage.
.labels {
  margin-bottom: 10px;
  padding-left: 12px;
  font-size: 75%;
}
