.vertical {
  .mat-radio-button {
    display: block;
  }
}

.mat-radio-button {
  margin: 5px;
}

.radio-field-container {
  display: inline-flex;
  flex-direction: column;
}

.field-input {
  margin-left: 5px;
}
