@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

.message {
  @include mat.elevation(1);

  margin: var.$bq-margin;
  padding: var.$bq-margin;
  background: mat.m2-get-color-from-palette(var.$bq-error-palette, 400);
  color: mat.m2-get-color-from-palette(var.$bq-error-palette, default-contrast);
}

.trace {
  @include mat.elevation(1);

  max-height: var.$bq-max-height-scrollbar;
  margin: var.$bq-margin;
  padding: var.$bq-margin;
  background: mat.m2-get-color-from-palette(palette.$bq-mat-grey-light, 50);
  font-size: var.$font-size-small;
  overflow-y: auto;
}
