@import 'globals/variables';

.message {
  @include mat-elevation(1);
  margin: $bq-margin;
  padding: $bq-margin;
  background: mat-color($bq-error-palette, 400);
  color: mat-color($bq-error-palette, default-contrast);
}

.trace {
  @include mat-elevation(1);
  max-height: $bq-max-height-scrollbar;
  margin: $bq-margin;
  padding: $bq-margin;
  background: mat-color($bq-mat-grey-light, 50);
  font-size: $font-size-small - 1;
  overflow-y: auto;
}
