@import 'globals/variables';

.message {
  @include mat-elevation(1);
  background: mat-color($bq-error-palette, 400);
  color: mat-color($bq-error-palette, default-contrast);
  margin: $bq-margin;
  padding: $bq-margin;
}

.trace {
  @include mat-elevation(1);
  background: mat-color($bq-mat-grey-light, 50);
  margin: $bq-margin;
  padding: $bq-margin;
  max-height: $bq-max-height-scrollbar;
  overflow-y: auto;
  font-size: 11px;

  button {

  }
}
