@import '~@angular/material/theming';
@import '../../../../theme/globals/variables';

.container {
  margin: 0;
}

.container-card {
  @include mat-elevation(1);

  max-width: 728px; // TODO make responsive
  margin: 24px auto;
  padding: 24px;
  background: map-get($mat-light-theme-background, card);

  h2 {
    margin-top: 0; // reset top margin, Card padding is in place
    color: $bq-secondary-navy;
    font-weight: 400;
  }
}
