<div bqKey class="selection-control">
  @if (field.questionText) {
    <p>{{field.questionText}}</p>
  }
  <div>
    <mat-radio-group [required]="field.required" [formControl]="formControl">
      <div style="display: flex; box-sizing: border-box; flex-flow: wrap"
        [ngStyle]="{'flex-direction': direction === 'vertical' ? 'column': 'row'}">
        @for (option of field.getFieldOptions(); track option) {
          <mat-radio-button [value]="option.value" [disabled]="!option.valid" color="primary">
            {{option.displayValue}}
          </mat-radio-button>
        }
      </div>
    </mat-radio-group>
  </div>
  @if (!list) {
    @if (!getMessages().hasMessages) {
      <mat-hint>{{field.explainText}}</mat-hint>
    }
    @if (getMessages().hasMessages) {
      <div>
        @for (msg of getMessages(); track msg) {
          <mat-error>{{ msg.text }}</mat-error>
        }
      </div>
    }
  }
</div>
