@use '@angular/material' as mat;
@use 'globals/variables' as var;

button {
  &.plain-link {
    color: mat.m2-get-color-from-palette(var.$bq-primary-palette);
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}
