@import 'globals/variables';

a {
  &.plain-link {
    color: mat-color($bq-primary-palette);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
