@if (page) {
  <div class="header">
    <bq-dashboard-header [menuItems]="page.menuItems"></bq-dashboard-header>
  </div>
  <div class="page" [ngClass]="page.layout">
    @for (column of page.columns; track column) {
      <div class="bq-dashboard-column">
        @for (widget of column.widgets; track widget) {
          @switch (widget.type) {
            @case ('blueriq-flow') {
              @if (!refreshWidget) {
                <bq-flow-widget [widget]="widget" [id]="widget.id"></bq-flow-widget>
              }
            }
            @case ('blueriq-task') {
              <bq-task-execution-widget [widget]="widget"
              [id]="widget.id"></bq-task-execution-widget>
            }
            @case ('blueriq-intake') {
              <bq-intake-widget [widget]="widget"
              [id]="widget.id"></bq-intake-widget>
            }
          }
        }
      </div>
    }
  </div>
  <bq-footer></bq-footer>
}
