<div class="mat-paginator">
  <div class="paginator-container">

    <!-- Range -->
    <div class="mat-paginator-range-label">{{pagination.currentPageNumber}} of {{pagination.numberOfPages}}</div>

    <!-- Previous/Next -->
    <button class="mat-paginator-navigation-first mat-icon-button" mat-icon-button [disabled]="pagination.first.disabled" [bqButton]="pagination.first">
      <mat-icon>first_page</mat-icon>
    </button>
    <button class="mat-paginator-navigation-previous mat-icon-button" mat-icon-button [disabled]="pagination.previous.disabled" [bqButton]="pagination.previous">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button class="mat-paginator-navigation-next mat-icon-button" mat-icon-button [disabled]="pagination.next.disabled" [bqButton]="pagination.next">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button class="mat-paginator-navigation-last mat-icon-button" mat-icon-button [disabled]="pagination.last.disabled" [bqButton]="pagination.last">
      <mat-icon>last_page</mat-icon>
    </button>
    <button class="mat-paginator-navigation-last mat-icon-button" mat-icon-button *ngIf="pagination.clear" [bqButton]="pagination.clear">
      <mat-icon>clear</mat-icon>
    </button>

  </div>
</div>
