.vertical {
  .mat-radio-button {
    display: block;
  }
}

.mat-radio-button {
  margin: 5px;
}

.questionText {
  display: inline-block;
}

.fieldInput {
  display: inline-block;
  margin-left: 5px;
}
