.vertical {
  .mat-radio-button {
    display: block;
  }
}

.mat-radio-button {
  margin: 5px;
}

.question-text {
  display: inline-block;
}

.field-input {
  display: inline-block;
  margin-left: 5px;
}
