<mat-form-field bqKey bqClasses appearance="fill" class="fx-flex">
  <mat-label>{{field.questionText}}</mat-label>
  <input matInput type="text" [required]="field.required"
    [formControl]="formControl"
    [placeholder]="field.placeholder"
    [matAutocomplete]="matAuto"
    (blur)="checkValidOption($event)">
    <mat-autocomplete autoActiveFirstOption #matAuto="matAutocomplete" [displayWith]="toDisplayValue">
      @for (domainOption of filteredDomainOptions$ | async; track domainOption) {
        <mat-option [value]="domainOption">
          {{ domainOption.displayValue }}
        </mat-option>
      }
    </mat-autocomplete>
    <mat-hint>{{field.explainText}}</mat-hint>
    @for (msg of getMessages(); track msg) {
      <mat-error>{{msg.text}}</mat-error>
    }
  </mat-form-field>
