<mat-form-field bqKey bqClasses subscriptSizing="dynamic"
  [class.validations]="getFieldMessages().hasMessages"
  [matTooltip]="getErrors()"
  matTooltipClass="tooltip-error">
  @if (fieldPrefix) {
    <span matPrefix>{{fieldPrefix}}</span>
  }
  <mat-label><!-- Must be here so the placeholder for input renders properly --></mat-label>
  @if (iconPrefix) {
    <span matPrefix><mat-icon>{{iconPrefix}}</mat-icon></span>
  }
  <input matInput type="text" [placeholder]="placeholder" [formControl]="formControl">
  @if (fieldSuffix) {
    <span matSuffix>{{fieldSuffix}}</span>
  }
</mat-form-field>
