<div class="fx-flex fx-flex-row" style="place-content: center flex-start; align-items: center; width:100%; height:100%;">
  <div class="circle" [class.active]="button.properties['active']" [class.error]="state === 'incomplete'">
    @if (state === 'complete') {
      <mat-icon color="primary">check</mat-icon>
    }
    @if (state === 'incomplete') {
      <mat-icon>priority_high</mat-icon>
    }
  </div>
  <button mat-button [bqButton]="button" [disabled]="button.disabled || button.properties['blocked']" [color]="state ? 'primary': undefined" class="fx-flex">
    {{button.caption}}
  </button>
</div>
