@use '@angular/material' as mat;
@use 'sass:map';
@use 'globals/variables' as var;
@use '../navigation.component' as nav;

:host {
  display: flex;
}

.circle {
  position: relative;
  width: nav.$shape-size;
  height: nav.$shape-size;
  background: map.get(mat.$m2-light-theme-background-palette, card);
  border-radius: 50%;
  border: nav.$shape-line solid mat.m2-get-color-from-palette(var.$bq-primary-palette);
  flex-shrink: 0;

  .mat-icon {
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  &.active {
    .mat-icon {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 2px;
      background: mat.m2-get-color-from-palette(var.$bq-primary-palette);
      color: mat.m2-get-color-from-palette(var.$bq-primary-palette, default-contrast);
      border-radius: 50%;
    }
  }

  &.error:not(.active) {
    border-color: mat.m2-get-color-from-palette(var.$bq-error-palette);
    color: mat.m2-get-color-from-palette(var.$bq-error-palette);
  }
}

button {
  text-align: left;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
