@import 'globals/variables';

mat-hint,
mat-error {
  font-size: $font-size-mat-error;
}

.selection-control {
  padding: $bq-base-margin $bq-base-margin 0 $bq-base-margin;
  margin-bottom: $bq-base-margin;
}
