@use 'globals/variables' as var;

mat-hint,
mat-error {
  font-size: var.$font-size-mat-error;
}

.selection-control {
  margin-bottom: var.$bq-base-margin;
  padding: var.$bq-base-margin var.$bq-base-margin 0;
}
