@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

:host {
  flex-direction: column;
}

.logout {
  margin-right: var.$bq-margin-double;
}

.top-bar {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  place-content: center flex-start;
  align-items: center;
}

.account-circle {
  place-content: center;
  align-items: center;
}

.username,
.account-circle {
  color: palette.$light-primary-text;
}
