<mat-toolbar>
  <div class="fx-flex-row top-bar">
    <div class="fx-flex">
      <span class="img-logo-white"></span>
    </div>

    <div style="flex: 0 0 auto;" class="application-actions">
      <button type="button" mat-button [matMenuTriggerFor]="userMenu" aria-label="Open user menu"
        class="active-user-menu">
        <div class="fx-flex-row fx-gap-12px icon">
          <div class="fx-flex-row account-circle">
            <mat-icon>account_circle</mat-icon>
          </div>
          @if (userInfo$ | async; as userInfo) {
            <div class="username">
              <span>{{ userInfo.name }}</span>
            </div>
          }
        </div>
      </button>

      <mat-menu [overlapTrigger]="false" #userMenu="matMenu">
        <button class="logout" mat-menu-item (click)="logout()">
          Uitloggen
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<bq-dashboard-menu class="fx-flex" [menuItems]="menuItems"></bq-dashboard-menu>
