@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;
@use 'globals/images' as img;

.error-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var.$z-index-drawer + 200;
  display: flex;
  place-content: center;
  align-items: center;

  .notification-error {
    background-color: mat.m2-get-color-from-palette(var.$bq-error-palette);
  }

  .notification-expired,
  .notification-logged-out,
  .notification-info {
    background-color: mat.m2-get-color-from-palette(palette.$bq-mat-primary-blue, 500);
  }

  .image {
    margin-top: var.$bq-margin-triple;

    .img-oops {
      @include img.image('../../..' + var.$url-img-oops, 175px, 175px);
    }

    .img-session-expired {
      @include img.image('../../..' + var.$url-img-session-expired, 175px, 175px);
    }

    .img-logged-out {
      @include img.image('../../..' + var.$url-img-logged-out, 175px, 175px);
    }
  }

  .notification {
    @include mat.elevation(2);

    width: 350px;
    padding: var.$bq-margin;
    color: palette.$white-87-opacity;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title,
    .message,
    .details {
      width: 250px;
      word-wrap: break-word;
    }

    .title {
      margin-bottom: var.$bq-margin;
      font-size: 48px;
      font-weight: normal;
    }

    .message {
      font-size: 16px;
    }

    .details {
      padding: var.$bq-margin;
      background-color: var.$bq-white-37-opacity;
    }

    .button {
      width: 100%;

      button {
        text-transform: uppercase;
        color: palette.$white-87-opacity;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: cdk.$overlay-backdrop-color;
  z-index: var.$z-index-drawer + 100;
}
