<div class="backdrop"></div>

<div class="error-container" fxFlex fxLayoutAlign="center center">
  <div [class]="'notification notification-' + notification.type">

    <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">

      <div class="image">
        <span class="img-oops" *ngIf="notification.type === 'error'"></span>
        <span class="img-session-expired" *ngIf="notification.type === 'expired'"></span>
        <span class="img-logged-out" *ngIf="notification.type === 'logged-out'"></span>
      </div>

      <p class="title">{{ notification.title }}</p>
      <p class="message">{{ notification.message }}</p>
      <p class="details" *ngIf="notification.details">{{ notification.details }}</p>

      <p class="button" *ngIf="notification.dismiss" fxLayout="column" fxLayoutAlign="start center">
        <button mat-button (click)="notification.dismiss.action()">{{ notification.dismiss.label }}</button>
      </p>
    </div>

  </div>
</div>
