@use 'globals/variables' as var;

button {
  margin: var.$bq-base-margin var.$bq-base-margin var.$bq-base-margin 0;
  text-transform: uppercase;
}

/* Default buttons in cards or elevated widgets get a slightly darker background compared to default
 buttons in transparent containers. */
::ng-deep {
  .card,
  .flow-widget.elevate {
    .default-styling {
      background: var.$bq-card-button-background;
    }
  }
}
