@import 'globals/variables';
@import 'globals/basic-page-layout';
@import '~@angular/material/theming';

@include mat-core;

$bq-primary-palette: mat-palette($bq-mat-primary);
$bq-accent-palette: mat-palette($bq-mat-accent);

$bq-warn-palette: mat-palette($mat-red);
$bq-theme: mat-light-theme($bq-primary-palette, $bq-accent-palette, $bq-warn-palette);

@include angular-material-theme($bq-theme);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

