@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import 'globals/variables';
@import 'globals/basic-page-layout';
@import 'globals/standard-styles';
@import 'components/datetimepicker';
@import 'components/snackbar';

@include mat-core;

$bq-primary-palette: mat-palette($bq-mat-primary);
$bq-accent-palette: mat-palette($bq-mat-accent);

$bq-warn-palette: mat-palette($mat-red);
$bq-theme: mat-light-theme($bq-primary-palette, $bq-accent-palette, $bq-warn-palette);

@include angular-material-theme($bq-theme);

