@import 'globals/images';

.splashscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 350ms ease-out;
  background: {
    position: center center;
    image: url($url_img_logo);
    repeat: no-repeat;
    size: 250px;
  }
  opacity: 0;

  img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -146px;
    margin-left: -160px;
  }

}
