<div [bqContainer]="container">
  <bq-heading [styles]="container.styles" [title]="container.displayName"></bq-heading>

  <button (click)="fileInput.value=''; fileInput.click()" [disabled]="bqFileUpload.readonly" color="primary" mat-raised-button style="display: block;">{{bqFileUpload.uploadLabel}}</button>
  <input #fileInput [multiple]="bqFileUpload.multiple" [uploader]="ngFileUploader" [accept]="bqFileUpload.allowedExtensions | dottedFileExtensions" hidden ng2FileSelect type="file">
  <div>
    @if (bqFileUpload.allowedExtensions) {
      <mat-hint id="allowedExtensionHint">{{bqFileUpload.allowedExtensionsDescription}}</mat-hint>
    }
    @if (bqFileUpload.maxFileSize) {
      <mat-hint id="fileSizeHint">{{bqFileUpload.maxFileSizeDescription}}</mat-hint>
    }
    @if (bqFileUpload.maxFileAmount) {
      <mat-hint id="fileAmountHint">{{bqFileUpload.maxFileAmountDescription}}</mat-hint>
    }
    @if (ngFileUploadErrorMessage) {
      <mat-error>{{ngFileUploadErrorMessage}}</mat-error>
    }
    @if (bqFileUploadErrorMessages && !ngFileUploadErrorMessage) {
      @for (errorMessage of bqFileUploadErrorMessages.children; track errorMessage) {
        <mat-error>{{asTextItem(errorMessage).plainText}}</mat-error>
      }
    }
    @if (bqFileUploadRequired) {
      @for (errorMessage of bqFileUploadRequired.messages; track errorMessage) {
        <mat-error>{{errorMessage.text}}</mat-error>
      }
    }
  </div>

  @if (isBusy) {
    <div>
      <div>
        <mat-progress-bar mode="determinate" value="{{ngFileUploader.progress}}"></mat-progress-bar>
      </div>
      <button (click)="ngFileUploader.cancelAll()" [disabled]="!ngFileUploader.isUploading" mat-icon-button>
        <mat-icon>cancel</mat-icon>
      </button>
      Cancel all
    </div>
  }
</div>
