@import 'globals/variables';

mat-hint,
mat-error {
  display: block;
  margin-top: 4px;
  font-size: 75%;
}

h2 {
  margin-top: 0; // reset top margin, Card padding is in place
  color: $bg-header-color;
  font-weight: 400;
}
