<div>
  @switch (widgetStartType) {
    @case ('regular') {
      <bq-project
        [sessionName]=sessionName
        [project]="flowWidget.projectName"
        [version]="flowWidget.versionName"
        [flow]="flowWidget.flowName"
        [baseUrl]="baseUrl"
        [parameters]="parameters$ | async"
        (flowEnded)="onFlowEnded()"
        (expired)="onSessionExpired()"
        (error)="onError($event)"
        (unauthorized)="onUnauthorized()">
      </bq-project>
    }
    @case ('shortcut') {
      <bq-project
        [sessionName]=sessionName
        [shortcut]="flowWidget.shortcutName"
        [baseUrl]="baseUrl"
        [parameters]="parameters$ | async"
        (flowEnded)="onFlowEnded()"
        (expired)="onSessionExpired()"
        (error)="onError($event)"
        (unauthorized)="onUnauthorized()">
      </bq-project>
    }
    @default {
      <p>The widget definition is invalid.</p>
    }
  }
</div>

<bq-loading></bq-loading>

@if (dashboardState === DashboardState.STABLE) {
  @if (notification) {
    <bq-notification-overlay [notification]="notification"></bq-notification-overlay>
  }
}
