@use 'globals/variables' as var;

.dialog-title {
  display: flex;
  margin-top: var.$bq-margin;

  .title {
    display: flex;
    flex-grow: 1;
    justify-items: left;
  }

  .close-button {
    display: flex;
    flex-grow: 0;
    justify-items: right;
  }
}

.dialog-content {
  display: block;
  margin-top: var.$bq-margin;
  margin-bottom: var.$bq-margin;
}

.dialog-actions {
  display: flex;
  justify-content: right;
}
