<ng-template #dialog>
  <div mat-dialog-title class="dialog-title">
    <div class="title">
      <h1>{{ container.displayName || '[' + container.name + ']' }}</h1>
    </div>
    <div class="close-button">
      <button [bqButton]="modalCloseButton" bqKey bqClasses mat-button
        class="mat-icon-button"
        (click)="closeDialog()"
        >
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content class="dialog-content">
    @for (child of container.children | bqIncluded; track child) {
      <ng-container
      [bqElement]="child"></ng-container>
    }
  </div>
  <div mat-dialog-actions class="dialog-actions">
    @for (button of modalActionButtons; track button) {
      <div (click)="closeDialog()"
        >
        <ng-container [bqElement]="button">
        </ng-container>
      </div>
    }
  </div>
</ng-template>
