@import '~@angular/material/theming';
@import '../theme/globals/variables';

.mat-toolbar {
  background: linear-gradient(to right, $bq-primary-blue, $bq-primary-purple);
  color: white;

  .banner {
    display: flex;
    margin: 30px;
  }

  span {
    color: white;
  }

  img {
    height: 100%;
  }

  @include mat-elevation(1);
}

//temp styling for demo
.bq-outlet {
  @include mat-elevation(1);

  max-width: 1024px;
  margin: 24px auto;
  padding: 24px;
  background: $bq-toolbar-background;
}
