@import '~@angular/material/theming';
@import '../theme/globals/variables';

.mat-toolbar {
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(to right, $bq-primary-blue, $bq-primary-purple, $bq-primary-violet);
  color: white;

  .mat-icon {
    margin: 0 8px 0 0;
  }

  h1 {
    font-weight: 300;
    color: $light-primary-text;
    margin: 0 0 0 24px;
  }

  h5 {
    font-weight: 200;
    font-size: small;
    color: $light-primary-text;
    line-height: 18px;
  }

  h6 {
    font-size: small;
    color: $light-primary-text;
    line-height: 18px;
  }

  @include mat-elevation(1);
}
