<bq-project
  [sessionName]="sessionName | async"
  [sessionId]="sessionId | async"
  [shortcut]="shortcut | async"
  [project]="project | async"
  [flow]="flow | async"
  [version]="version | async"
  [languageCode]="languageCode | async"
  (flowEnded)="onFlowEnded()"
  (expired)="onSessionExpired()"
  (error)="onError($event)"
  (unauthorized)="onUnauthorized($event)"
  (forbidden)="onForbidden($event)">
</bq-project>

<bq-loading></bq-loading>

<bq-notification-overlay *ngIf="notification" [notification]="notification"></bq-notification-overlay>
