<div fxLayout="row" fxLayoutGap="1em">
  <div fxFlex="0 0 14em">
    <mat-form-field appearance="fill">
      <mat-select [value]="operator" (selectionChange)="onOperatorChanged($event.value)">
        <mat-option [value]="operations.before">Before</mat-option>
        <mat-option [value]="operations.on">On</mat-option>
        <mat-option [value]="operations.after">After</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="0 0 14em">
    <mat-form-field appearance="fill">
      <input matInput (dateTimeChange)="onDateChanged($event)" [formControl]="dateControl" [owlDateTime]="dtPicker">
      <button matPrefix class="mat-icon-button" [owlDateTimeTrigger]="dtPicker">
        <mat-icon>today</mat-icon>
      </button>
      <owl-date-time #dtPicker [pickerType]="pickerType" [firstDayOfWeek]="firstDayOfWeek"
                     showSecondsTimer></owl-date-time>
    </mat-form-field>
  </div>
  <div fxFlex="0 0 2em" fxLayoutAlign="start start">
    <mat-checkbox [checked]="showUnknown" (change)="onUnknownChanged($event.checked)" color="primary"></mat-checkbox>
  </div>
</div>
