@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

.asset {
  color: palette.$dark-primary-text;
  font-size: var.$default-font-size;
  line-height: var.$default-line-height;
  white-space: pre-line;
}
