<div [class.selection-control]="!list" bqKey>
  <p *ngIf="field.questionText">{{field.questionText}}</p>
  <div style="display: flex; box-sizing: border-box" [ngStyle]="{'flex-direction': direction === 'vertical' ? 'column': 'row'}">
    <mat-checkbox *ngFor="let option of field.getFieldOptions()" [value]="option.value" [checked]="isChecked(option)"
                  [disabled]="formControl.disabled" (change)="onChange(option, $event)" color="primary">
      {{option.displayValue}}
    </mat-checkbox>
  </div>

  <ng-container *ngIf="!list">
    <mat-hint *ngIf="!getMessages().hasMessages">{{field.explainText}}</mat-hint>
    <div *ngIf="getMessages().hasMessages">
      <mat-error *ngFor="let msg of getMessages()">{{ msg.text }}</mat-error>
    </div>
  </ng-container>
</div>
