@use '@angular/material' as mat;
@import 'globals/variables';

$bq-transparent-error-color: mat.get-color-from-palette($bq-error-palette, 500, 0.8);

::ng-deep {
  .tooltip-error .mdc-tooltip__surface { // stylelint-disable-line selector-class-pattern
    background: $bq-transparent-error-color;
    white-space: pre-line;
  }
}

:host::ng-deep {
  .mat-mdc-form-field {
    width: 100%;

    .mat-mdc-form-field-infix {
      display: flex;
      align-items: flex-start;
      background-color: mat.get-color-from-palette($bq-mat-grey-light, a100);
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .mat-mdc-form-field-prefix {
      margin: 0 2px 0 $bq-margin-half;
    }

    .mat-mdc-form-field-suffix {
      margin: 0 $bq-margin-half 0 2px;
    }

    .mat-mdc-text-field-wrapper {
      width: 100%;
      padding: 0;
    }

    // remove border radius for validation border
    .mdc-text-field {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: transparent;
    }

    &.validations {
      .mat-mdc-form-field-flex {
        border: 1px solid $bq-transparent-error-color;
        color: $bq-transparent-error-color;
      }
    }

    .mdc-line-ripple,
    .mat-mdc-form-field-focus-overlay {
      display: none;
    }

    // Show mdc-line when focused
    &:hover {
      .mdc-line-ripple {
        display: block;
      }
    }
  }
}
