@import 'globals/variables';

.flow-widget {
  &.elevate {
    @include mat-elevation(1);
    background: map-get($mat-light-theme-background, card);
  }
}

.top-widget {
  margin: $bq-margin-double;
  padding: $bq-margin-double;
}

:host {
  &:last-child {
    .flow-widget {
      margin-bottom: 0;
    }
  }
}
