<div bqKey bqClasses [bqContainer]="widgetContainer">

  <bq-heading [title]="widgetContainer.displayName" [styles]="widgetContainer.styles"></bq-heading>

  <bq-session
    *ngIf="!shouldDisplayError()"
    [sessionName]="flowWidget.sessionName"
    (flowEnded)="handleFlowEnded()"
    (expired)="handleSessionExpired()"
    (error)="handleError($event)"></bq-session>

  <div *ngIf="shouldDisplayError()">
    <mat-error class="fx-flex-row" style="place-content: stretch center; align-items: stretch;">
      <mat-icon>error</mat-icon>
      <span>{{errorMessage}}</span>
    </mat-error>
  </div>

</div>
