@use '@angular/material' as mat;

/*!
 * Custom Material Palette need to be generated Manually.
 *
 * material palettes based on the colours that on hue 500 matches the most on the
 * branding colour.
 */

/* Copied from material's core/m2/_palette.scss */
$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);
$black-12-opacity: rgba(black, 0.12);
$white-12-opacity: rgba(white, 0.12);
$black-6-opacity: rgba(black, 0.06);
$white-6-opacity: rgba(white, 0.06);
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);
$basic-contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $dark-primary-text,
  400: $dark-primary-text,
  500: $light-primary-text,
  600: $light-primary-text,
  700: $light-primary-text,
  800: $light-primary-text,
  900: $light-primary-text,
  a100: $dark-primary-text,
  a200: $light-primary-text,
  a400: $light-primary-text,
  a700: $light-primary-text,
);
$bq-mat-primary-blue: (
  50: #e0effc,
  100: #b3d6f7,
  200: #80bbf2,
  300: #4da0ed,
  400: #268be9,
  500: #0077e5,
  600: #006fe2,
  700: #0064de,
  800: #005ada,
  900: #0047d3,
  A100: #fbfcff,
  A200: #c8d7ff,
  A400: #95b1ff,
  A700: #7b9fff,
  contrast: $basic-contrast
);
$bq-mat-primary-purple: (
  50: #efe7fa,
  100: #d7c3f3,
  200: #bc9beb,
  300: #a173e3,
  400: #8c55dd,
  500: #7837d7,
  600: #7031d3,
  700: #652acd,
  800: #5b23c7,
  900: #4816be,
  A100: #f4f0ff,
  A200: #cebdff,
  A400: #a98aff,
  A700: #9670ff,
  contrast: $basic-contrast
);
$bq-mat-primary-violet: (
  50: #efe7f2,
  100: #d7c4df,
  200: #bc9dca,
  300: #a176b5,
  400: #8c58a5,
  500: #783b95,
  600: #70358d,
  700: #652d82,
  800: #5b2678,
  900: #481967,
  A100: #d8a1ff,
  A200: #c26eff,
  A400: #ad3bff,
  A700: #a222ff,
  contrast: $basic-contrast
);
$bq-mat-accent-teal: (
  50: #e0eff0,
  100: #b3d7da,
  200: #80bcc1,
  300: #4da1a8,
  400: #268c95,
  500: #007882,
  600: #00707a,
  700: #00656f,
  800: #005b65,
  900: #004852,
  A100: #85ecff,
  A200: #52e5ff,
  A400: #1fddff,
  A700: #05d9ff,
  contrast: $basic-contrast
);
$bq-mat-accent-green: (
  50: #e0f4f0,
  100: #b3e4da,
  200: #80d2c1,
  300: #4dbfa8,
  400: #26b295,
  500: #00a482,
  600: #009c7a,
  700: #00926f,
  800: #008965,
  900: #007852,
  A100: #a6ffde,
  A200: #73ffcb,
  A400: #40ffb8,
  A700: #26ffae,
  contrast: $basic-contrast
);
$bq-mat-accent-mint: (
  50: #e5f7f5,
  100: #bfece6,
  200: #95dfd6,
  300: #6ad2c6,
  400: #4ac9b9,
  500: #2abfad,
  600: #25b9a6,
  700: #1fb19c,
  800: #19a993,
  900: #0f9b83,
  A100: #cbfff5,
  A200: #98ffeb,
  A400: #65ffe2,
  A700: #4cffdd,
  contrast: $basic-contrast
);
$bq-mat-accent-navy: (
  50: #e2e6f7,
  100: #b6c1eb,
  200: #8698de,
  300: #566fd1,
  400: #3150c7,
  500: #0d31bd,
  600: #0b2cb7,
  700: #0925ae,
  800: #071fa6,
  900: #031398,
  A100: #c3c7ff,
  A200: #9098ff,
  A400: #5d68ff,
  A700: #4450ff,
  contrast: $basic-contrast
);
$bq-mat-accent-red: (
  50: #fbe8ea,
  100: #f5c6cb,
  200: #eea1a8,
  300: #e77b85,
  400: #e15e6a,
  500: #dc4250,
  600: #d83c49,
  700: #d33340,
  800: #ce2b37,
  900: #c51d27,
  A100: #fffcfc,
  A200: #ffc9cb,
  A400: #ff969a,
  A700: #ff7c82,
  contrast: $basic-contrast
);
$bq-mat-accent-orange: (
  50: #feefe0,
  100: #fdd7b3,
  200: #fcbc80,
  300: #faa14d,
  400: #f98d26,
  500: #f87900,
  600: #f77100,
  700: #f66600,
  800: #f55c00,
  900: #f34900,
  A100: #fff,
  A200: #ffece6,
  A400: #ffc5b3,
  A700: #ffb29a,
  contrast: $basic-contrast
);
$bq-mat-accent-yellow: (
  50: #fef8e9,
  100: #fdecc9,
  200: #fce0a5,
  300: #fad481,
  400: #f9ca66,
  500: #f8c14b,
  600: #f7bb44,
  700: #f6b33b,
  800: #f5ab33,
  900: #f39e23,
  A100: #fff,
  A200: #fffcf9,
  A400: #ffe6c6,
  A700: #ffdbad,
  contrast: $basic-contrast
);
$bq-mat-grey-dark: (
  50: #e0e5ea,
  100: #b3becc,
  200: #8092aa,
  300: #4d6687,
  400: #26466e,
  500: #002554,
  600: #00214d,
  700: #001b43,
  800: #00163a,
  900: #000d29,
  A100: #6380ff,
  A200: #3057ff,
  A400: #002ffc,
  A700: #002ae3,
  contrast: $basic-contrast
);
$bq-mat-grey-medium: (
  50: #e6e9eb,
  100: #c2c7ce,
  200: #99a2ad,
  300: #707d8c,
  400: #516173,
  500: #32455a,
  600: #2d3e52,
  700: #263648,
  800: #1f2e3f,
  900: #131f2e,
  A100: #6eaaff,
  A200: #3b8bff,
  A400: #086dff,
  A700: #0061ee,
  contrast: $basic-contrast
);
$bq-mat-grey-light: (
  50: #f8f8f9,
  100: #edeff0,
  200: #e1e4e7,
  300: #d4d9dd,
  400: #cbd0d5,
  500: #c2c8ce,
  600: #bcc2c9,
  700: #b4bbc2,
  800: #acb4bc,
  900: #9fa7b0,
  A100: #fff,
  A200: #fff,
  A400: #f1f7ff,
  A700: #d7eaff,
  contrast: $basic-contrast
);
