@import 'variables';
@import 'color-palettes';
@import 'images';
@import 'flex';
@import 'responsive-layout';
@import 'basic-page-layout';
@import 'standard-styles';
@import 'material-extensions';
@import 'splashscreen';
