@use 'variables' as var;

/* Responsive page:
 - Content width is determined by page class or screen width
 - Content is always centered */
.page {
  margin: 0 auto;

  &.large {
    max-width: var.$width-large;
  }

  &.medium {
    max-width: var.$width-medium;
  }

  &.small {
    max-width: var.$width-small;
  }

  &.full {
    width: 100%;
  }

  &.responsive {
    @media (max-width: var.$break-small - 1) {
      max-width: var.$width-small;
    }
    @media (min-width: var.$break-small) {
      max-width: var.$width-medium;
    }
    @media (min-width: var.$break-medium) {
      max-width: var.$width-large;
    }
    @media (min-width: var.$break-large) {
      max-width: var.$width-extra-large;
    }
  }
}

/*  Responsive row:
 - Content on screens smaller that $break-small will still be rendered vertically
 - Otherwise, content in this container is rendered horizontally */
.bq-row {
  display: flex;

  @media (max-width: var.$break-small - 1) {
    flex-direction: column;
  }

  @media (min-width: var.$break-small) {
    flex-direction: row;
  }
}

/* Responsive column:
 - Define horizontal gutter based on screen width
 - 0 width so weights work */
.bq-column {
  @media (max-width: var.$break-small - 1) {
    margin: 0;
  }

  @media (min-width: var.$break-small) {
    width: 0;

    @media (max-width: var.$break-medium - 1) {
      margin-right: var.$gutter-width-small;
    }

    @media (min-width: var.$break-medium) and (max-width: var.$break-large - 1) {
      margin-right: var.$gutter-width-medium;
    }

    @media (min-width: var.$break-large) {
      margin-right: var.$gutter-width-large;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Responsive widget
 - Define padding and vertical gutter based on screen width */
.bq-widget {
  padding: var.$bq-margin-double;

  @media (max-width: var.$break-medium - 1) {
    margin-bottom: var.$gutter-width-small;
  }

  @media (min-width: var.$break-medium) and (max-width: var.$break-large - 1) {
    margin-bottom: var.$gutter-width-medium;
  }

  @media (min-width: var.$break-large) {
    margin-bottom: var.$gutter-width-large;
  }
}
