@import 'variables';

// This file contains styles that have to be global due to use of elements that
// do not have view encapsulation applied to themselves

.text-item {
  span {
    &.warning,
    &.Warning { // sass-lint:disable-line class-name-format
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: mat-color($bq-warn-palette, 100);
    }

    &.danger,
    &.Danger { // sass-lint:disable-line class-name-format
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: mat-color($bq-error-palette, 100);
    }

    &.info,
    &.Info { // sass-lint:disable-line class-name-format
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: mat-color($bq-info-palette, 100);
    }

    &.success,
    &.Success { // sass-lint:disable-line class-name-format
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: mat-color($bq-success-palette, 100);
    }
  }
}

.external-flow-container {
  .page {
    &.margin-0 {
      margin: 0;
      padding: 0;
    }
  }
}
