@use '@angular/material' as mat;
@use 'sass:math';
@use './color-palettes' as pallette;

/* Copied from material's core/style/_variables.scss */
$z-index-drawer: 100 !default;

/* The mat-palette() function adds keys to the palette object for easy color retrieval using mat-color() */
$bq-primary-palette: mat.m2-define-palette(pallette.$bq-mat-primary-blue);
$bq-accent-palette: mat.m2-define-palette(pallette.$bq-mat-primary-purple);
$bq-error-palette: mat.m2-define-palette(pallette.$bq-mat-accent-red);

/* Specific none material colour palettes */
$bq-tertiary-palette: mat.m2-define-palette(pallette.$bq-mat-accent-green);
$bq-warn-palette: mat.m2-define-palette(pallette.$bq-mat-accent-orange);
$bq-info-palette: mat.m2-define-palette(pallette.$bq-mat-primary-blue);
$bq-success-palette: mat.m2-define-palette(pallette.$bq-mat-accent-green);

/* Margin system, for consistency all margins are derivatives from a single base margin
 Use the $bq-margin-* variables in all SCSS for padding, margin, etc to achieve a form of consistency */
$bq-base-margin: 12px;
$bq-margin: $bq-base-margin;
$bq-margin-half: math.div($bq-base-margin, 2);
$bq-margin-double: $bq-base-margin * 2;
$bq-margin-triple: $bq-base-margin * 3;
$bq-margin-quadruple: $bq-base-margin * 4;
$bq-max-height-scrollbar: 700px;

/* Specific colour variables which could not not have been achieved using the default material theme variables */
$bq-card-button-background: #f5f5f5;
$bq-header-color: mat.m2-get-color-from-palette(pallette.$bq-mat-accent-navy, 500);
$bq-white-37-opacity: rgb(255 255 255 / 37%);

/* Other variables */
$bq-font-family: 'Roboto', arial, 'Helvetica Neue', sans-serif;
$bq-toolbar-height: 77px;

/* Default sizes for headings */
$h1-size: 2em;
$h2-size: 1.5em;
$h3-size: 1.17em;
$h4-size: 1.12em;
$h5-size: 0.83em;
$h6-size: 0.75em;

/* Preset font-sizes */
$font-size-smaller: 9px;
$font-size-small: 12px;
$default-font-size: 14px;
$font-size-large: 15px;

/* Font sizes per component using the preset font-sizes */
$font-size-mat-error: $font-size-small;
$font-size-filter-row-icon: $font-size-smaller;
$font-size-timeline-content: $font-size-small;
$font-size-comment-list-date: $font-size-small;
$font-size-footer-address: $font-size-small;
$font-size-list-header: $font-size-small;
$font-size-list-limit: $font-size-small;
$font-size-list-header-icon: $font-size-small;
$default-line-height: 20px;

/* URLs */
$url-prefix: '/theme/blueriq/images/';
$url-img-introduction: $url-prefix + 'blueriq-technology.svg';
$url-img-spinner: $url-prefix + 'spinner_e.gif';
$url-img-logo: $url-prefix + 'blueriq-logo.svg';
$url-img-logo-white: $url-prefix + 'blueriq-logo-white.svg';
$url-img-icons: $url-prefix + 'blueriq-icons.png';
$url-img-oops: $url-prefix + 'oops-icon.svg';
$url-img-session-expired: $url-prefix + 'session-expired.svg';
$url-img-logged-out: $url-prefix + 'logged-out.svg';

/* In widgets, headings should be one level smaller */
$h1-widget-size: $h2-size;
$h2-widget-size: $h3-size;
$h3-widget-size: $h4-size;
$h4-widget-size: $h5-size;
$h5-widget-size: $h6-size;
$h6-widget-size: 0.66em;

/* Responsive design variables */
$break-small: 768px;
$break-medium: 1024px;
$break-large: 1240px;
$width-small: 512px;
$width-medium: 768px;
$width-large: 1024px;
$width-extra-large: 1240px;
$gutter-width-small: $bq-margin;
$gutter-width-medium: $bq-margin-double;
$gutter-width-large: $bq-margin-quadruple;

/* Enable/disable the header; choose between: `flex` or `none` */
$header-display: flex;
$bq-mat-typography: mat.m2-define-typography-config(
  $font-family: ($bq-font-family)
);
$bq-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $bq-primary-palette,
      accent: $bq-accent-palette,
      warn: $bq-error-palette,
    ),
    typography: $bq-mat-typography,
  )
);
