<div bqKey bqClasses class="text-item">
  <div class="gutter" *ngIf="shouldDisplayGutter()">
    <mat-icon class="aligner">{{getGutterIcon()}}</mat-icon>
  </div>
  <div class="aligner">

    <ng-container *ngIf="textItem.rootNode.plainText; then textItemRootNode; else textItemPlainText"></ng-container>

    <p>
      <ng-template #textItemRootNode>
        <ng-container [bqTextItemNode]="textItem.rootNode"></ng-container>
      </ng-template>
      <ng-template #textItemPlainText>
        <ng-container>{{textItem.plainText}}</ng-container>
      </ng-template>
    </p>

  </div>
</div>
