@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

/* This style uses double flex layout due to vertical alignment of icon and content */

.text-item {
  display: flex;
  color: palette.$dark-primary-text;
  font-size: var.$default-font-size;
  line-height: var.$default-line-height;

  .gutter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    padding: 4px 6px;
  }

  .text {
    display: flex;
  }

  .aligner {
    align-self: center;
  }

  &.warning,
  &.Warning { /* stylelint-disable-line selector-class-pattern */
    .gutter {
      background-color: mat.m2-get-color-from-palette(var.$bq-warn-palette, 100);
      color: mat.m2-get-color-from-palette(var.$bq-warn-palette, 800);
    }
  }

  &.danger,
  &.Danger { /* stylelint-disable-line selector-class-pattern */
    .gutter {
      background-color: mat.m2-get-color-from-palette(var.$bq-error-palette, 100);
      color: mat.m2-get-color-from-palette(var.$bq-error-palette, 800);
    }
  }

  &.info,
  &.Info { /* stylelint-disable-line selector-class-pattern */
    .gutter {
      background-color: mat.m2-get-color-from-palette(var.$bq-info-palette, 100);
      color: mat.m2-get-color-from-palette(var.$bq-info-palette, 800);
    }
  }

  &.success,
  &.Success { /* stylelint-disable-line selector-class-pattern */
    .gutter {
      background-color: mat.m2-get-color-from-palette(var.$bq-success-palette, 100);
      color: mat.m2-get-color-from-palette(var.$bq-success-palette, 800);
    }
  }

  ::ng-deep {
    .emphasis {
      font-weight: bold;
    }

    .subtle {
      text-decoration: underline;
    }

    .intense {
      font-style: italic;
    }
  }
}
