@import 'globals/variables';

// This style uses double flex layout due to vertical alignment of icon and content

.text-item {
  display: flex;
  color: $dark-primary-text;
  font-size: 14px;
  line-height: 20px;

  .gutter {
    display: flex;
    margin-right: 15px;
    padding: 4px 6px;
    font-size: 22px;
  }

  .text {
    display: flex;
  }

  .aligner {
    align-self: center;
  }

  &.warning,
  &.Warning { // sass-lint:disable-line class-name-format
    .gutter {
      background-color: mat-color($bq-warn-palette, 100);
      color: mat-color($bq-warn-palette, 800);
    }
  }

  &.danger,
  &.Danger { // sass-lint:disable-line class-name-format
    .gutter {
      background-color: mat-color($bq-error-palette, 100);
      color: mat-color($bq-error-palette, 800);
    }
  }

  &.info,
  &.Info { // sass-lint:disable-line class-name-format
    .gutter {
      background-color: mat-color($bq-info-palette, 100);
      color: mat-color($bq-info-palette, 800);
    }
  }

  &.success,
  &.Success { // sass-lint:disable-line class-name-format
    .gutter {
      background-color: mat-color($bq-success-palette, 100);
      color: mat-color($bq-success-palette, 800);
    }
  }

  ::ng-deep {
    .TextEmphasis { // sass-lint:disable-line class-name-format
      font-weight: bold;
    }

    .TextEmphasisSubtle { // sass-lint:disable-line class-name-format
      text-decoration: underline;
    }

    .TextEmphasisIntense { // sass-lint:disable-line class-name-format
      font-style: italic;
    }
  }
}
