@if (parameters$ | async; as parameters) {
  <bq-intake
    [sessionName]=sessionName
    [languageCode]="parameters.languageCode"
    [caseType]="parameters.caseType"
    [baseUrl]="baseUrl"
    (expired)="onSessionExpired()"
    (error)="onError($event)"
    (forbidden)="onForbidden()"
    (unauthorized)="onUnauthorized()"
    (intakeCompleted)="onIntakeCompleted($event)"
    (intakeAborted)="onIntakeAborted()"
    (caseCreated)="onCaseCreated($event, parameters.caseType)">
  </bq-intake>
}

<bq-loading></bq-loading>

@if (dashboardState === DashboardState.STABLE) {
  @if (notification) {
    <bq-notification-overlay [notification]="notification"></bq-notification-overlay>
  }
}
