<div bqKey bqClasses [bqContainer]="container">
  
  <ng-container *ngIf="container.displayName && !list">
    <h2 *ngIf="!isWidget">
      <mat-icon [bqIcon]="container.styles"></mat-icon>
      {{ container.displayName }}
    </h2>
    <h3 *ngIf="isWidget" class="widget">
      <mat-icon [bqIcon]="container.styles"></mat-icon>
      {{ container.displayName }}
    </h3>
  </ng-container>
  
  <div [class.bq-row]="horizontal">
    <ng-container *ngFor="let child of container.children | bqIncluded"
      [bqElement]="child"
      [bqFlexChild]="horizontal"></ng-container>
  </div>

</div>
