@import 'globals/variables';

.top-container {
  margin: $bq-margin-double;
  padding: $bq-margin-double;
}

.card {
  @include mat-elevation(1);
  background: map-get($mat-light-theme-background, card);
}

.introduction {
  img {
    position: absolute;
    width: 39px;
    height: 39px;
    margin: -$bq-margin-double;
    background: no-repeat;
    content: '';
  }
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.horizontal-flex-target {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
}

:host {
  &.column-wrapper {
    margin-left: $gutter-width-large;
    margin-right: $gutter-width-large;
    width: 0;
  }

  &.column-wrapper:first-child {
    margin-left: 0;
  }

  &.column-wrapper:last-child {
    margin-right: 0;
  }
}
