<div bqKey bqClasses class="container {{displayMode}}" [ngClass]="{'alignright': this.alignRight}">
  <img *ngIf="isIntroduction()" src="./theme/images/blueriq-technology.svg">

  <div *ngIf="container.displayName && !table">
    <h2 [class.widget]="isWidget">{{ container.displayName }}</h2>
  </div>

  <div *ngIf="!horizontal">
    <ng-container *ngFor="let child of container.children | bqIncluded" [bqElement]="child"></ng-container>
  </div>

  <div *ngIf="horizontal" class="grid">
    <div *ngFor="let child of container.children | bqIncluded" class="grid-item">
      <ng-container [bqElement]="child"></ng-container>
    </div>
  </div>
</div>
