<mat-form-field bqKey class="fx-flex" bqClasses appearance="fill">
  <mat-label>{{field.questionText}}</mat-label>
  <mat-select [required]="field.required" [formControl]="formControl" [multiple]="field.multiValued"
    [placeholder]="field.placeholder">
    <mat-option *ngIf="!field.multiValued"></mat-option>
    <mat-option *ngFor="let option of field.getFieldOptions()" [value]="option.value" [disabled]="!option.valid">
      {{ option.displayValue }}
    </mat-option>
  </mat-select>
  <mat-hint>{{field.explainText}}</mat-hint>
  <mat-error *ngFor="let msg of getMessages()">{{msg.text}}</mat-error>
</mat-form-field>
