<mat-form-field bqKey class="fx-flex" bqClasses appearance="fill">
  <mat-label>{{field.questionText}}</mat-label>
  <mat-select [required]="field.required" [formControl]="formControl" [multiple]="field.multiValued"
    [placeholder]="field.placeholder">
    @if (!field.multiValued) {
      <mat-option></mat-option>
    }
    @for (option of field.getFieldOptions(); track option) {
      <mat-option [value]="option.value" [disabled]="!option.valid">
        {{ option.displayValue }}
      </mat-option>
    }
  </mat-select>
  <mat-hint>{{field.explainText}}</mat-hint>
  @for (msg of getMessages(); track msg) {
    <mat-error>{{msg.text}}</mat-error>
  }
</mat-form-field>
