<p>
  <mat-form-field bqKey fxFlex bqClasses appearance="fill">
    <mat-select [placeholder]="field.questionText" [required]="field.required" [formControl]="formControl" [multiple]="field.multiValued">
      <mat-option *ngIf="!field.multiValued"></mat-option>
      <mat-option *ngFor="let option of getOptions()" [value]="option.value">
        {{ option.displayValue }}
      </mat-option>
    </mat-select>
    <mat-hint>{{field.explainText}}</mat-hint>
    <mat-error *ngFor="let msg of getMessages()">{{msg.text}}</mat-error>
  </mat-form-field>
</p>
