<mat-form-field bqKey bqClasses
  [class.validations]="getMessages().hasMessages"
  [matTooltip]="getErrors()"
  matTooltipClass="tooltip-error">
  <mat-select [required]="field.required" [formControl]="formControl" [multiple]="field.multiValued" [placeholder]="field.placeholder">
    @if (!field.multiValued) {
      <mat-option></mat-option>
    }
    @for (option of field.getFieldOptions(); track option) {
      <mat-option [value]="option.value" [disabled]="!option.valid">
        {{ option.displayValue }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
