<mat-form-field bqKey fxFlex bqClasses [style.width]="'100%'"
  [class.validations]="getMessages().hasErrors"
  [matTooltip]="getErrors()"
  matTooltipClass="tooltip-error">
  <mat-select [required]="field.required" [formControl]="formControl" [multiple]="field.multiValued" [placeholder]="field.placeholder">
    <mat-option *ngIf="!field.multiValued"></mat-option>
    <mat-option *ngFor="let option of getOptions()" [value]="option.value">
      {{ option.displayValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
