<bq-dashboard
  [shortcut]="shortcut | async"
  [project]="project | async"
  [version]="version | async"
  [dashboard]="dashboard | async"
  [page]=" page | async"
  [parameters]="parameters | async"
  (pageChanged)="onPageChanged($event)"
  (unauthorized)="onUnauthorized()"
  (notFound)="onNotFound()"
  (errors)="onError($event)">
  <bq-dashboard-page></bq-dashboard-page>
</bq-dashboard>

@if (notification) {
  <bq-notification-overlay [notification]="notification"></bq-notification-overlay>
}
