@use '@angular/material' as mat;
@use 'sass:map';
@use 'globals/variables' as var;

.summary {
  display: flex;
  flex-direction: column;
}

.icon {
  transform: scale(0.75);
}

.deadline {
  margin-bottom: var.$bq-margin;
}

h3 {
  font-size: var.$h3-size;
  margin-top: 0;
  margin-bottom: var.$bq-margin-half;
  color: var.$bq-header-color;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.row-item {
  display: flex;
  align-items: center;
}

.expiration-times {
  display: flex;
  flex-direction: column;
}
