<div [bqContainer]="container">
  <bq-heading [title]="container.displayName" [styles]="container.styles"></bq-heading>
  <div fxLayout="column" fxLayoutGap="1.5em">
    <div *ngIf="summary.phases$ | async as phases" fxLayout="column" fxLayoutGap="1.5em">
      <div>
        <h3>Case reference</h3>
        <p>{{ summary.reference }}</p>
      </div>
      <div fxLayout="row" fxLayoutGap="1em">
        <div>
          <h3>Phases</h3>
          <div *ngFor="let completedPhase of phases.completed" fxLayout="row" fxLayoutAlign="none center">
            <mat-icon fontIcon="check" color="primary" class="icon"></mat-icon>
            <p>{{ completedPhase }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="none center">
            <mat-icon fontIcon="more_horiz" color="primary" class="icon"></mat-icon>
            <p>{{ phases.current }}</p>
          </div>
          <div *ngFor="let futurePhase of phases.future" fxLayout="row" fxLayoutAlign="none center">
            <mat-icon color="primary" class="icon"></mat-icon>
            <p>{{ futurePhase }}</p>
          </div>
        </div>
        <div *ngIf="summary.results$ | async as results" fxLayoutGap="1em">
          <div fxLayout="column">
            <h3>Results</h3>
            <div *ngFor="let achievedResult of results.achievedResults" fxLayout="row" fxLayoutAlign="none center">
              <mat-icon fontIcon="check" color="primary" class="icon"></mat-icon>
              <p>{{ achievedResult }}</p>
            </div>
            <div *ngFor="let pendingResult of results.pendingResults" fxLayout="row" fxLayoutAlign="none center">
              <mat-icon color="primary" class="icon"></mat-icon>
              <p>{{ pendingResult }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3>Deadlines</h3>
      <div fxLayout="row wrap">
        <div *ngFor="let deadline of summary.deadlines$ | async" fxLayout="column" fxFlex="32" class="deadline">
          <div>
            <div fxLayout="row" fxLayoutAlign="none center">
              <mat-icon fontIcon="calendar_today" color="primary" class="icon"></mat-icon>
              <p>{{ deadline.name }}</p>
            </div>
            <div fxLayout="column">
              <div *ngFor="let expirationTime of deadline.expirationTimes" fxLayout="row" fxLayoutAlign="none center">
                <mat-icon fontIcon="{{ expirationTimeIcon(expirationTime) }}" color="primary" class="icon"
                          fxFlex="noshrink"></mat-icon>
                <p fxFlex="grow">{{ dateToExpirationFormat(expirationTime) }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
