<div fxLayout="row" fxLayoutGap="1em">
  <div fxFlex="0 0 14em">
    <mat-form-field appearance="fill">
      <mat-select value="is">
        <mat-option value="is">Is</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="0 0 14em">
    <mat-form-field appearance="fill">
      <input matInput [value]="value" (change)="onValueChanged($event.target.value)">
    </mat-form-field>
  </div>
  <div fxFlex="0 0 2em" fxLayoutAlign="start start">
    <mat-checkbox [checked]="showUnknown" (change)="onUnknownChanged($event.checked)" color="primary"></mat-checkbox>
  </div>
</div>
