@import 'globals/variables';

.mat-mdc-form-field {
  margin-bottom: $bq-base-margin;

  button {
    &[matprefix] {
      padding-left: $bq-base-margin;
      border: 0;
      background-color: transparent;
    }
  }
}
