<mat-form-field appearance="fill" bqKey bqClasses class="fx-flex">
  <mat-label>{{ field.questionText }}</mat-label>
  <mat-chip-grid #chipList [formControl]="formControl">

    @for (value of values; track value) {
      <mat-chip-row (removed)="remove(value)"
        [disabled]="isDisabled()"
        [removable]="true" >
        {{value.displayValue}}
        @if (!isDisabled()) {
          <mat-icon matChipRemove>cancel</mat-icon>
        }
      </mat-chip-row>
    }

    <input #input
      (blur)="addDomainValueOnBlur($event)"
      (keyup)="filterDomain(input.value)"
      (matChipInputTokenEnd)="addByInput($event)"
      [matAutocomplete]="matAuto"
      [matChipInputAddOnBlur]="!field.hasDomain"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [required]="field.required">

      <mat-autocomplete #matAuto="matAutocomplete" autoActiveFirstOption>
        @for (domainOption of filteredDomainOptions; track domainOption) {
          <mat-option (onSelectionChange)="addByAutoComplete($event, input)"
            [value]="domainOption">
            {{ domainOption.displayValue }}
          </mat-option>
        }
      </mat-autocomplete>

    </mat-chip-grid>
    <mat-hint>{{field.explainText}}</mat-hint>
    @for (msg of getMessages(); track msg) {
      <mat-error>{{msg.text}}</mat-error>
    }
  </mat-form-field>
