<p bqClasses>
  <mat-form-field bqKey fxFlex appearance="fill">
    <mat-label>{{ field.questionText }}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let value of values" [selectable]="false"
        [removable]="true" (removed)="remove(value)">
        {{value}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input [placeholder]="field.placeholder"
        [formControl]="formControl"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
        [required]="field.required">
    </mat-chip-list>
    <mat-hint>{{field.explainText}}</mat-hint>
    <mat-error *ngFor="let msg of getMessages()">{{msg.text}}</mat-error>
  </mat-form-field>
</p>
