@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

:host {
  .mat-mdc-button,
  .mat-mdc-menu-item {
    font-size: var.$default-font-size;
    font-weight: 400;
    text-transform: uppercase;
    color: palette.$light-primary-text;

    .mat-icon {
      width: var.$default-font-size;
      height: var.$default-font-size;
      margin: 0;
      color: palette.$light-primary-text;
      font-size: var.$default-font-size;
    }
  }

  ::ng-deep {
    .mat-mdc-menu-item {
      .nested-menu-item {
        justify-content: start;
        width: 100%;
        padding-left: var.$bq-base-margin;
      }

      .mat-mdc-menu-item-text { /* stylelint-disable-line selector-class-pattern */
        font-size: var.$default-font-size !important;
        font-weight: 400;
        text-transform: uppercase;
        color: palette.$dark-primary-text;
      }
    }

    .root-menu-item .mat-mdc-menu-item-text { /* stylelint-disable-line selector-class-pattern */
      color: palette.$light-primary-text;
      font-size: var.$default-font-size;
      font-weight: 400;
      font-family: var.$bq-font-family;
      text-transform: uppercase;
    }
  }
}

bq-menu-item .mat-menu-item {
  color: palette.$dark-primary-text;
  font-size: var.$default-font-size;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: start;
  width: 100%;
  height: 48px;
  padding: 0 32px 0 16px;
}
