@import '~@angular/material/theming';
@import 'globals/variables';

bq-menu-item > .mat-menu-item {
  color: #000000;
  text-transform: uppercase;
}

.mat-menu-item {
  color: $light-primary-text;
  text-transform: uppercase;
}
