@import '~@angular/material/theming';
@import 'globals/variables';

$black: #000;

bq-menu-item > .mat-menu-item {
  color: $black;
  text-transform: uppercase;
}

.mat-menu-item {
  color: $light-primary-text;
  text-transform: uppercase;
}
