<div class="fx-flex-row" style="place-content: center flex-end; align-items: center">
  <button mat-icon-button
    (click)="showFilter(filterDialog)"
    [matBadge]="filter.currentFilters.length"
    [matBadgeHidden]="filter.currentFilters.length === 0"
    matTooltip="Filter"
    matBadgePosition="before"
    matBadgeColor="primary">
    <mat-icon aria-label="Filter">filter_list</mat-icon>
  </button>
  @if (filter.currentFilters.length > 0) {
    <button (click)="clearFilters()" mat-icon-button
      matTooltip="Clear filter" @clearFilters>
      <mat-icon aria-label="Clear filter">clear</mat-icon>
    </button>
  }
</div>

<ng-template #filterDialog>
  <div class="margin">
    <div class="fx-flex-row fx-gap-1em header">
      <mat-label class="fx-flex0-0-14em">Column name</mat-label>
      <mat-label class="fx-flex0-0-14em">Operation</mat-label>
      <mat-label class="fx-flex0-0-14em">Value</mat-label>
      <mat-label class="fx-flex0-0-4em">{{showUnknownLabel}}</mat-label>
    </div>

    @for (candidate of filterCandidates; track candidate) {
      <bq-filter-row
        [currentColumns]="filter.currentColumns"
        [candidate]="candidate"
        (removed)="removeFilter(candidate)">
      </bq-filter-row>
    }

    @if (canAddFilter()) {
      <div class="fx-flex-row">
        <button mat-button class="plain-link" (click)="addFilter()">Add filter</button>
      </div>
    }
    <div class="fx-flex-row" style="justify-content: flex-end">
      <button mat-flat-button [color]="'primary'" (click)="applyFilters()">Apply filter</button>
    </div>

  </div>
</ng-template>
