@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/color-palettes' as palette;

.margin {
  margin: var.$bq-margin-half;
}

.header {
  margin: var.$bq-margin-half 0;
  color: palette.$dark-secondary-text;
}

button {
  &.plain-link {
    color: mat.m2-get-color-from-palette(var.$bq-primary-palette);

    &:hover {
      text-decoration: underline;
    }
  }
}
