::ng-deep {
  .bq-table-filter-value * {

    // resize the default material fields to make the fields more compressed
    .mat-form-field-infix {
      border-top: 0;
    }

    .mat-form-field-appearance-fill .mat-select-arrow-wrapper, // sass-lint:disable-line  force-element-nesting
    .mat-form-field-appearance-standard .mat-select-arrow-wrapper { // sass-lint:disable-line  force-element-nesting
      transform: none;
    }

    .mat-checkbox {
      margin-top: 12px;
    }
  }
}
