<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="30">
    <mat-form-field appearance="fill">
      <mat-select placeholder="Column name" [value]="filterValue.selectedOption" (selectionChange)="onColumn($event.value)">
        <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption">
          {{filterOption.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="30">
    <mat-form-field appearance="fill">
      <mat-select [value]="filterValue.operation" [disabled]="!filterValue.selectedOption" (selectionChange)="onOperation($event.value)">
        <mat-option *ngFor="let operation of getOperations()" [value]="operation">
          {{operation}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="30" id="specifiedElement">
    <ng-container [ngSwitch]="filterValue?.selectedOption?.type" disabled="true">

      <!-- ### domain as multi-select ### -->
      <ng-container *ngSwitchCase="'domain'">
        <mat-form-field appearance="fill">
          <mat-select multiple (selectionChange)="onValue($event.value.join(','))" [value]="filterValue.value.split(',')">
            <mat-option *ngFor="let domain of filterValue?.selectedOption?.domain" [value]="domain.value">{{domain.displayValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <!-- ### boolean as checkbox ### -->
      <ng-container *ngSwitchCase="'boolean'">
        <mat-checkbox fxFlex (change)="onValue($event.checked)" [checked]="filterValue.value || false" [disabled]="!filterValue.selectedOption" color="primary">
        </mat-checkbox>
      </ng-container>

      <!-- ### date/datetime as owl-date-time ### -->
      <ng-container *ngSwitchCase="['date', 'datetime'].includes(filterValue?.selectedOption?.type) ? filterValue?.selectedOption?.type : ''">
        <mat-form-field appearance="fill">
          <input matInput (dateTimeChange)="onValue($event.value)" [value]="filterValue.value" [owlDateTime]="dtPicker">
          <button matPrefix class="mat-icon-button" [owlDateTimeTrigger]="dtPicker">
            <mat-icon>today</mat-icon>
          </button>
          <owl-date-time #dtPicker [pickerType]="filterValue?.selectedOption?.type === 'date' ? 'calendar' : 'both'" [firstDayOfWeek]="firstDayOfWeek" [showSecondsTimer]="true"></owl-date-time>
        </mat-form-field>
      </ng-container>

      <!-- ### anything else as inputfield ### -->
      <ng-container *ngSwitchDefault>
        <mat-form-field appearance="fill">
          <input matInput (change)="onValue($event.target.value)" [value]="filterValue.value || ''" [disabled]="!filterValue.selectedOption">
        </mat-form-field>
      </ng-container>

    </ng-container>
  </div>
  <div fxFlex="5" fxLayoutAlign="center start">
    <mat-checkbox [checked]="filterValue.showUnknown" (change)="filterValue.showUnknown = $event.checked" color="primary"></mat-checkbox>
  </div>
  <div fxFlex="5" fxLayoutAlign="center">
    <button mat-icon-button (click)="removeFilter()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
