<div class="fx-flex-row fx-gap-1em">
  <div class="fx-flex0-0-14em">
    <mat-form-field appearance="fill">
      <mat-select value="in">
        <mat-option value="in">One of</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="fx-flex0-0-14em">
    <mat-form-field appearance="fill">
      <mat-select multiple [value]="values" (selectionChange)="onValueChanged($event.value)">
        @for (option of domain.options; track option) {
          <mat-option [value]="option.value">{{option.displayValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="fx-flex0-0-2em">
    <mat-checkbox [checked]="showUnknown" (change)="onUnknownChanged($event.checked)" color="primary"></mat-checkbox>
  </div>
</div>
