<div bqKey [class.selection-control]="!list">
  <div>
    <mat-checkbox [required]="field.required" [formControl]="formControl" color="primary">
      {{ list ? '' : field.questionText}}
    </mat-checkbox>
  </div>
  @if (!list) {
    @if (!getMessages().hasMessages) {
      <mat-hint>{{field.explainText}}</mat-hint>
    }
    @if (getMessages().hasMessages) {
      <div>
        @for (msg of getMessages(); track msg) {
          <mat-error>{{ msg.text }}</mat-error>
        }
      </div>
    }
  }
</div>
