<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="30">
    <mat-form-field fxFlex appearance="fill">
      <mat-select placeholder="Column name" [value]="filterValue.selectedOption" (selectionChange)="onColumn($event.value)">
        <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption">
          {{filterOption.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="30">
    <mat-form-field fxFlex appearance="fill">
      <mat-select placeholder="Operation" [value]="filterValue.operation" (selectionChange)="onOperation($event.value)">
        <mat-option *ngFor="let operation of getOperations()" [value]="operation">
          {{operation}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="30">
    <mat-form-field fxFlex appearance="fill">
      <input matInput placeholder="Value" (change)="onValue($event.target.value)" [value]="filterValue.value || ''">
    </mat-form-field>
  </div>
  <div fxFlex="5" fxLayoutAlign="center center">
    <mat-checkbox [checked]="filterValue.showUnknown" color="primary"></mat-checkbox>
  </div>
  <div fxFlex="5" fxLayoutAlign="center center">
    <button mat-icon-button (click)="removeFilter()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
