<div class="grid">
  <div class="grid-item">
    <mat-select [value]="filterValue.selectedOption" (valueChange)="onColumn($event)">
      <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption">
        {{filterOption.title}}
      </mat-option>
    </mat-select>
  </div>
  <div class="grid-item">
    <mat-select (valueChange)="onOperation($event)" [value]="filterValue.operation">
      <mat-option *ngFor="let operation of getOperations()" [value]="operation">
        {{operation}}
      </mat-option>
    </mat-select>
  </div>
  <div class="grid-item">
    <input matInput (change)="onValue($event.target.value)" [value]="filterValue.value">
  </div>
  <div class="grid-item">
    <mat-checkbox [checked]="filterValue.showAll"></mat-checkbox>
  </div>
  <div class="grid-item">
    <mat-checkbox [checked]="filterValue.showUnknown"></mat-checkbox>
  </div>
</div>
