@use '@angular/material' as mat;
@use 'globals/variables' as var;
@use 'globals/images' as img;
@use 'globals/color-palettes' as palette;

footer {
  max-width: 1080px;
  margin: 0 auto;
  color: palette.$dark-secondary-text;
  text-align: center;

  .img-logo {
    @include img.image('../../..' + var.$url-img-logo, 100px, 40px);
  }

  a {
    color: palette.$dark-secondary-text;
    font-style: normal;
    text-decoration: none;

    &:hover,
    &:visited {
      color: palette.$dark-primary-text;
    }
  }

  address {
    font-size: var.$font-size-footer-address;
    line-height: var.$default-line-height;
  }

  .mat-divider {
    margin-bottom: 48px;
  }

  &::after {
    display: block;
    height: 50px;
    content: '';
  }
}
