@import 'globals/variables';

.mat-table {
  width: 100%;

  .mat-row {
    &.highlight {
      animation: highlight 3s;
    }
  }
}

@keyframes highlight {
  0% {
    background: mat-color($bq-mat-primary-blue, A400);
  }

  100% {
    background: none;
  }
}
