<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<table [dataSource]="taskDataSource" mat-table matSort>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container *ngFor="let column of taskList.columnDefinitions" [matColumnDef]="column.identifier">
    <th *matHeaderCellDef [disabled]="column.action" mat-header-cell mat-sort-header>{{column.header}}</th>
    <td *matCellDef="let task" mat-cell>
      <span *ngIf="!column.action" [ngClass]="column.styles.all()">
        {{getCellData(task, column)}}
      </span>
      <ng-container *ngIf="column.action">
        <button mat-icon-button
          *ngIf="isIconButton(column.styles)"
          (click)="buttonPressed(column.action, task.identifier)"
          [disabled]="task.caseLocked || task.status != 'open'"
          [ngClass]="column.styles.all()"
          [color]="getColor(column.styles)">
          <mat-icon [bqIcon]="column.styles"></mat-icon>
        </button>
        <button mat-button
          *ngIf="!isIconButton(column.styles)"
          (click)="buttonPressed(column.action, task.identifier)"
          [disabled]="task.caseLocked || task.status != 'open'"
          [ngClass]="column.styles.all()"
          [color]="getColor(column.styles)">
          <mat-icon [bqIcon]="column.styles"></mat-icon>
          {{ column.action.caption }}
        </button>
      </ng-container>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;"
    mat-row
    [class.highlight]="tasksToHighlight.includes(row.identifier)"></tr>

</table>

<mat-paginator (page)="pageChanged($event)"
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="taskList.pagingSize"
  showFirstLastButtons></mat-paginator>
